<div class="container-fluid" id="ilContentContainer">
    <div class="row">

        <div id="il_center_col" class="col-sm-12">



            <form id="form_hform" role="form" class="form-horizontal " action="ilias.php?ref_id=75&amp;obj_id=54&amp;backcmd=showHierarchy&amp;cmd=post&amp;cmdClass=ilstructureobjectgui&amp;cmdNode=jm:kb:k2&amp;baseClass=ilLMEditorGUI&amp;rtoken=dc2527d5e2caa3d2ad38eb5c82101485" method="post">

                <div class="form-horizontal">
                    <input type="hidden" id="il_hform_cmd" name="" value="">
                    <input type="hidden" id="il_hform_node" name="il_hform_node" value="">
                    <input type="hidden" id="il_hform_fc" name="il_hform_fc" value="">
                    <input type="hidden" id="il_hform_as_subitem" name="il_hform_as_subitem" value="">
                    <input type="hidden" id="il_hform_multi" name="il_hform_multi" value="">
                    <input type="hidden" id="il_hform_source_id" name="il_hform_source_id" value="">
                    <input type="hidden" id="il_hform_target_id" name="il_hform_target_id" value="">
                    <input type="hidden" id="il_hform_expand" name="il_hform_expand" value="">

                    <div class="ilHFormHeader">
                        <div class="ilFormCmds">

                            <input class="btn btn-default" type="submit" name="cmd[saveAllTitles]" value="Save Titles">

                        </div>

                        <img border="0" alt="-commands-" src="./templates/default/images/arrow_upright.svg">

                        <input class="btn btn-default" type="submit" name="cmd[delete]" value="Delete">

                        <input class="btn btn-default" type="submit" name="cmd[cutItems]" value="Cut">

                        <input class="btn btn-default" type="submit" name="cmd[copyItems]" value="Copy">

                        <input class="btn btn-default" type="submit" name="cmd[activatePages]" value="(De-)Activate">


                    </div>

                    <div class="ilHFormContent form-inline">
                        <!-- looking for a better way than using a (layout) table, using DIVs and display table cell does not allow colspan
                         the table is at least responsive and allows proper rtl support
                    -->
                        <table>


                            <tbody>
                                <tr>
                                    <td colspan="3"></td>
                                    <td>
                                        <div class="il_droparea  ilHFormDropArea" id="droparea_54fc" onclick="doMouseClick(event, '54fc');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_54fc">
                                            <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                <tbody>
                                                    <tr>
                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 1);">
                                                            Insert Page
                                                        </td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_1" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 1);">&nbsp;1&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_2" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 2);">&nbsp;2&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_3" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 3);">&nbsp;3&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_4" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 4);">&nbsp;4&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_5" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 5);">&nbsp;5&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_6" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 6);">&nbsp;6&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_7" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 7);">&nbsp;7&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_8" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 8);">&nbsp;8&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_9" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 9);">&nbsp;9&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_10" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '54', 1, 10);">&nbsp;10&nbsp;</td>


                                                    </tr>

                                                    <tr>
                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t2fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPageClip', '54', 1, 1);">
                                                            Paste Pages from Clipboard
                                                        </td>


                                                        <td class="il_editmenu" colspan="10">&nbsp;</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </td>
                                </tr>






                                <tr>
                                    <td class="ilHFormExpIcon">

                                    </td>
                                    <td class="ilHFormCheckbox">

                                        <input type="checkbox" name="id[]" value="55">

                                    </td>
                                    <td class="ilHFormIcon">

                                        <a name="node_55"><img class="il_img_pg" id="il_img_55" title="./templates/default/images/icon_pg.svg" alt="./templates/default/images/icon_pg.svg" src="./templates/default/images/icon_pg.svg"></a>

                                    </td>
                                    <td class="ilHFormInput">
                                        <input id="inp55" class="form-control" name="title[55]" type="text" maxlength="200" value="Page 1">
                                    </td>
                                    <td class="ilHFormItemCmd"><a class="il_ContainerItemCommand2" href="ilias.php?ref_id=75&amp;obj_id=55&amp;cmd=edit&amp;cmdClass=illmpageobjectgui&amp;cmdNode=jm:kb:jy&amp;baseClass=ilLMEditorGUI">Edit</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="ilHFormExpIcon"></td>
                                    <td class="ilHFormChilds" colspan="4"></td>
                                </tr>



                                <tr>
                                    <td colspan="3"></td>
                                    <td>
                                        <div class="il_droparea  ilHFormDropArea" id="droparea_55" onclick="doMouseClick(event, '55');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_55">
                                            <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                <tbody>
                                                    <tr>
                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 1);">
                                                            Insert Page
                                                        </td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_1" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 1);">&nbsp;1&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_2" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 2);">&nbsp;2&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_3" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 3);">&nbsp;3&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_4" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 4);">&nbsp;4&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_5" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 5);">&nbsp;5&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_6" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 6);">&nbsp;6&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_7" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 7);">&nbsp;7&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_8" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 8);">&nbsp;8&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_9" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 9);">&nbsp;9&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_10" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '55', 0, 10);">&nbsp;10&nbsp;</td>


                                                    </tr>

                                                    <tr>
                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t2_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPageClip', '55', 0, 1);">
                                                            Paste Pages from Clipboard
                                                        </td>


                                                        <td class="il_editmenu" colspan="10">&nbsp;</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </td>
                                </tr>






                                <tr>
                                    <td class="ilHFormExpIcon">

                                    </td>
                                    <td class="ilHFormCheckbox">

                                        <input type="checkbox" name="id[]" value="60">

                                    </td>
                                    <td class="ilHFormIcon">

                                        <a name="node_60"><img class="il_img_pg" id="il_img_60" title="./templates/default/images/icon_pg.svg" alt="./templates/default/images/icon_pg.svg" src="./templates/default/images/icon_pg.svg"></a>

                                    </td>
                                    <td class="ilHFormInput">
                                        <input id="inp60" class="form-control" name="title[60]" type="text" maxlength="200" value="Page 2">
                                    </td>
                                    <td class="ilHFormItemCmd"><a class="il_ContainerItemCommand2" href="ilias.php?ref_id=75&amp;obj_id=60&amp;cmd=edit&amp;cmdClass=illmpageobjectgui&amp;cmdNode=jm:kb:jy&amp;baseClass=ilLMEditorGUI">Edit</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="ilHFormExpIcon"></td>
                                    <td class="ilHFormChilds" colspan="4"></td>
                                </tr>



                                <tr>
                                    <td colspan="3"></td>
                                    <td>
                                        <div class="il_droparea  ilHFormDropArea" id="droparea_60" onclick="doMouseClick(event, '60');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_60">
                                            <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                <tbody>
                                                    <tr>
                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 1);">
                                                            Insert Page
                                                        </td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_1" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 1);">&nbsp;1&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_2" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 2);">&nbsp;2&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_3" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 3);">&nbsp;3&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_4" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 4);">&nbsp;4&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_5" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 5);">&nbsp;5&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_6" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 6);">&nbsp;6&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_7" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 7);">&nbsp;7&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_8" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 8);">&nbsp;8&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_9" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 9);">&nbsp;9&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_10" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '60', 0, 10);">&nbsp;10&nbsp;</td>


                                                    </tr>

                                                    <tr>
                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t2_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPageClip', '60', 0, 1);">
                                                            Paste Pages from Clipboard
                                                        </td>


                                                        <td class="il_editmenu" colspan="10">&nbsp;</td>

                                                    </tr>

                                                    <tr>
                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 1);">
                                                            Insert Chapter
                                                        </td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_1" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 1);">&nbsp;1&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_2" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 2);">&nbsp;2&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_3" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 3);">&nbsp;3&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_4" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 4);">&nbsp;4&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_5" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 5);">&nbsp;5&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_6" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 6);">&nbsp;6&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_7" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 7);">&nbsp;7&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_8" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 8);">&nbsp;8&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_9" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 9);">&nbsp;9&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t3_10" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '60', 0, 10);">&nbsp;10&nbsp;</td>


                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </td>
                                </tr>






                                <tr>
                                    <td class="ilHFormExpIcon">

                                    </td>
                                    <td class="ilHFormCheckbox">

                                        <input type="checkbox" name="id[]" value="61">

                                    </td>
                                    <td class="ilHFormIcon">

                                        <a name="node_61"><img class="il_img_st" id="il_img_61" title="./templates/default/images/icon_st.svg" alt="./templates/default/images/icon_st.svg" src="./templates/default/images/icon_st.svg"></a>

                                    </td>
                                    <td class="ilHFormInput">
                                        <input id="inp61" class="form-control" name="title[61]" type="text" maxlength="200" value="Subchapter 1.1">
                                    </td>
                                    <td class="ilHFormItemCmd"><a class="il_ContainerItemCommand2" href="ilias.php?ref_id=75&amp;obj_id=61&amp;backcmd=showHierarchy&amp;cmd=view&amp;cmdClass=ilstructureobjectgui&amp;cmdNode=jm:kb:k2&amp;baseClass=ilLMEditorGUI">Edit</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="ilHFormExpIcon"></td>
                                    <td class="ilHFormChilds" colspan="4">
                                        <!-- looking for a better way than using a (layout) table, using DIVs and display table cell does not allow colspan
     the table is at least responsive and allows proper rtl support
-->
                                        <table>


                                            <tbody>
                                                <tr>
                                                    <td colspan="3"></td>
                                                    <td>
                                                        <div class="il_droparea  ilHFormDropArea" id="droparea_61fc" onclick="doMouseClick(event, '61fc');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_61fc">
                                                            <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                                <tbody>
                                                                    <tr>
                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 1);">
                                                                            Insert Page
                                                                        </td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_1" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 1);">&nbsp;1&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_2" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 2);">&nbsp;2&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_3" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 3);">&nbsp;3&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_4" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 4);">&nbsp;4&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_5" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 5);">&nbsp;5&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_6" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 6);">&nbsp;6&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_7" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 7);">&nbsp;7&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_8" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 8);">&nbsp;8&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_9" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 9);">&nbsp;9&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1fc_10" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '61', 1, 10);">&nbsp;10&nbsp;</td>


                                                                    </tr>

                                                                    <tr>
                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPageClip', '61', 1, 1);">
                                                                            Paste Pages from Clipboard
                                                                        </td>


                                                                        <td class="il_editmenu" colspan="10">&nbsp;</td>

                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </td>
                                                </tr>






                                                <tr>
                                                    <td class="ilHFormExpIcon">

                                                    </td>
                                                    <td class="ilHFormCheckbox">

                                                        <input type="checkbox" name="id[]" value="62">

                                                    </td>
                                                    <td class="ilHFormIcon">

                                                        <a name="node_62"><img class="il_img_pg" id="il_img_62" title="./templates/default/images/icon_pg.svg" alt="./templates/default/images/icon_pg.svg" src="./templates/default/images/icon_pg.svg"></a>

                                                    </td>
                                                    <td class="ilHFormInput">
                                                        <input id="inp62" class="form-control" name="title[62]" type="text" maxlength="200" value="Page 1">
                                                    </td>
                                                    <td class="ilHFormItemCmd"><a class="il_ContainerItemCommand2" href="ilias.php?ref_id=75&amp;obj_id=62&amp;cmd=edit&amp;cmdClass=illmpageobjectgui&amp;cmdNode=jm:kb:jy&amp;baseClass=ilLMEditorGUI">Edit</a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ilHFormExpIcon"></td>
                                                    <td class="ilHFormChilds" colspan="4"></td>
                                                </tr>



                                                <tr>
                                                    <td colspan="3"></td>
                                                    <td>
                                                        <div class="il_droparea  ilHFormDropArea" id="droparea_62" onclick="doMouseClick(event, '62');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_62">
                                                            <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                                <tbody>
                                                                    <tr>
                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 1);">
                                                                            Insert Page
                                                                        </td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_1" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 1);">&nbsp;1&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_2" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 2);">&nbsp;2&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_3" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 3);">&nbsp;3&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_4" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 4);">&nbsp;4&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_5" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 5);">&nbsp;5&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_6" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 6);">&nbsp;6&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_7" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 7);">&nbsp;7&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_8" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 8);">&nbsp;8&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_9" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 9);">&nbsp;9&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t1_10" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '62', 0, 10);">&nbsp;10&nbsp;</td>


                                                                    </tr>

                                                                    <tr>
                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_62t2_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPageClip', '62', 0, 1);">
                                                                            Paste Pages from Clipboard
                                                                        </td>


                                                                        <td class="il_editmenu" colspan="10">&nbsp;</td>

                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </td>
                                                </tr>






                                                <tr>
                                                    <td class="ilHFormExpIcon">

                                                    </td>
                                                    <td class="ilHFormCheckbox">

                                                        <input type="checkbox" name="id[]" value="63">

                                                    </td>
                                                    <td class="ilHFormIcon">

                                                        <a name="node_63"><img class="il_img_pg" id="il_img_63" title="./templates/default/images/icon_pg.svg" alt="./templates/default/images/icon_pg.svg" src="./templates/default/images/icon_pg.svg"></a>

                                                    </td>
                                                    <td class="ilHFormInput">
                                                        <input id="inp63" class="form-control" name="title[63]" type="text" maxlength="200" value="Page 2">
                                                    </td>
                                                    <td class="ilHFormItemCmd"><a class="il_ContainerItemCommand2" href="ilias.php?ref_id=75&amp;obj_id=63&amp;cmd=edit&amp;cmdClass=illmpageobjectgui&amp;cmdNode=jm:kb:jy&amp;baseClass=ilLMEditorGUI">Edit</a>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ilHFormExpIcon"></td>
                                                    <td class="ilHFormChilds" colspan="4"></td>
                                                </tr>



                                                <tr>
                                                    <td colspan="3"></td>
                                                    <td>
                                                        <div class="il_droparea  ilHFormDropArea" id="droparea_63" onclick="doMouseClick(event, '63');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_63">
                                                            <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                                <tbody>
                                                                    <tr>
                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 1);">
                                                                            Insert Page
                                                                        </td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_1" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 1);">&nbsp;1&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_2" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 2);">&nbsp;2&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_3" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 3);">&nbsp;3&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_4" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 4);">&nbsp;4&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_5" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 5);">&nbsp;5&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_6" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 6);">&nbsp;6&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_7" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 7);">&nbsp;7&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_8" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 8);">&nbsp;8&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_9" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 9);">&nbsp;9&nbsp;</td>

                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t1_10" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPage', '63', 0, 10);">&nbsp;10&nbsp;</td>


                                                                    </tr>

                                                                    <tr>
                                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_63t2_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertPageClip', '63', 0, 1);">
                                                                            Paste Pages from Clipboard
                                                                        </td>


                                                                        <td class="il_editmenu" colspan="10">&nbsp;</td>

                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </td>
                                                </tr>



                                            </tbody>
                                        </table>

                                    </td>
                                </tr>



                                <tr>
                                    <td colspan="3"></td>
                                    <td>
                                        <div class="il_droparea  ilHFormDropArea" id="droparea_61" onclick="doMouseClick(event, '61');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_61">
                                            <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                <tbody>
                                                    <tr>
                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 1);">
                                                            Insert Sub-chapter
                                                        </td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_1" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 1);">&nbsp;1&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_2" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 2);">&nbsp;2&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_3" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 3);">&nbsp;3&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_4" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 4);">&nbsp;4&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_5" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 5);">&nbsp;5&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_6" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 6);">&nbsp;6&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_7" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 7);">&nbsp;7&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_8" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 8);">&nbsp;8&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_9" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 9);">&nbsp;9&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_10" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertSubchapter', '61', 0, 10);">&nbsp;10&nbsp;</td>


                                                    </tr>

                                                    <tr>
                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 1);">
                                                            Insert Chapter
                                                        </td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_1" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 1);">&nbsp;1&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_2" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 2);">&nbsp;2&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_3" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 3);">&nbsp;3&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_4" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 4);">&nbsp;4&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_5" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 5);">&nbsp;5&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_6" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 6);">&nbsp;6&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_7" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 7);">&nbsp;7&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_8" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 8);">&nbsp;8&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_9" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 9);">&nbsp;9&nbsp;</td>

                                                        <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t2_10" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doActionForm('insertChapter', '61', 0, 10);">&nbsp;10&nbsp;</td>


                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </td>
                                </tr>



                            </tbody>
                        </table>


                    </div>

                    <div class="ilHFormFooter">
                        <div class="ilFormCmds">

                            <input class="btn btn-default" type="submit" name="cmd[saveAllTitles]" value="Save Titles">

                        </div>

                        <img border="0" alt="-commands-" src="./templates/default/images/arrow_downright.svg">

                        <input class="btn btn-default" type="submit" name="cmd[delete]" value="Delete">

                        <input class="btn btn-default" type="submit" name="cmd[cutItems]" value="Cut">

                        <input class="btn btn-default" type="submit" name="cmd[copyItems]" value="Copy">

                        <input class="btn btn-default" type="submit" name="cmd[activatePages]" value="(De-)Activate">


                    </div>




                    <div style="position:absolute;left:0;top:0;visibility:hidden;" id="diss_menu_61_grp_st">
                        <table class="il_editmenu" cellspacing="0" cellpadding="3">

                            <tbody>
                                <tr>
                                    <td class="small" style="white-space:nowrap;" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doDisam('1');">
                                        Insert as Sub-chapter
                                    </td>
                                </tr>

                                <tr>
                                    <td class="small" style="white-space:nowrap;" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doDisam('0');">
                                        Insert as Chapter
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div style="position:absolute;left:0;top:0;visibility:hidden;" id="diss_menu_61_grp_st">
                        <table class="il_editmenu" cellspacing="0" cellpadding="3">

                            <tbody>
                                <tr>
                                    <td class="small" style="white-space:nowrap;" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doDisam('1');">
                                        Insert as Sub-chapter
                                    </td>
                                </tr>

                                <tr>
                                    <td class="small" style="white-space:nowrap;" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="doDisam('0');">
                                        Insert as Chapter
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <script language="JavaScript" type="text/javascript">
                        var as_subitem = Object();

                        as_subitem['54fc' + '_' + 'grp_pg'] = "1";

                        as_subitem['55' + '_' + 'grp_pg'] = "0";

                        as_subitem['60' + '_' + 'grp_pg'] = "0";

                        as_subitem['60' + '_' + 'grp_st'] = "0";

                        as_subitem['61fc' + '_' + 'grp_pg'] = "1";

                        as_subitem['62' + '_' + 'grp_pg'] = "0";

                        as_subitem['63' + '_' + 'grp_pg'] = "0";

                        as_subitem['54fc' + '_' + 'grp_pg'] = "1";

                        as_subitem['55' + '_' + 'grp_pg'] = "0";

                        as_subitem['60' + '_' + 'grp_pg'] = "0";

                        as_subitem['60' + '_' + 'grp_st'] = "0";

                        as_subitem['61fc' + '_' + 'grp_pg'] = "1";

                        as_subitem['62' + '_' + 'grp_pg'] = "0";

                        as_subitem['63' + '_' + 'grp_pg'] = "0";

                        as_subitem['' + '_' + ''] = "0";



                        d = new ilDragTarget("droparea_" + "54fc", "grp_pg");

                        d = new ilDragTarget("droparea_" + "55", "grp_pg");

                        d = new ilDragTarget("droparea_" + "60", "grp_pg");

                        d = new ilDragTarget("droparea_" + "60", "grp_st");

                        d = new ilDragTarget("droparea_" + "61fc", "grp_pg");

                        d = new ilDragTarget("droparea_" + "62", "grp_pg");

                        d = new ilDragTarget("droparea_" + "63", "grp_pg");

                        d = new ilDragTarget("droparea_" + "61", "grp_st");

                        d = new ilDragTarget("droparea_" + "61", "grp_st");


                        d = new ilDragContent("il_img_" + "54", "grp_st");

                        d = new ilDragContent("il_img_" + "55", "grp_pg");

                        d = new ilDragContent("il_img_" + "60", "grp_pg");

                        d = new ilDragContent("il_img_" + "61", "grp_st");

                        d = new ilDragContent("il_img_" + "62", "grp_pg");

                        d = new ilDragContent("il_img_" + "63", "grp_pg");

                        d = new ilDragContent("il_img_" + "61", "grp_st");
                    </script>


                    <!-- This one is called from other frames/contents -->

                    <div id="ilsaving" class="ilHighlighted" style="display:none;">Saving...</div>

                </div>
            </form>
            <div id="ilPageEditLegend">
                <div>
                    <div class="il_droparea"><span class="sr-only"></span><span class="glyphicon glyphicon-plus"></span></div>
                    <span class="subtitle">Click on placeholders to add new elements.</span>
                </div>

                <div>
                    <img alt="" src="./templates/default/images/icon_pg.svg">
                    <span class="sr-only"></span><span class="glyphicon glyphicon-share-alt"></span>
                    <div class="il_droparea"><span class="sr-only"></span><span class="glyphicon glyphicon-plus"></span></div>
                    <span class="subtitle">Drag and drop icons on placeholders to move elements.</span>
                </div>


                <div>
                    <span class="subtitle">Please note that pages have to precede all sub-chapters of the same level.</span>
                </div>

            </div>
            <div class="il_ContainerItemCommands2">
                <a class="il_ContainerItemCommand2" href=""></a>
            </div>



        </div>




    </div>
</div>