<script>
    function init() {
        var btn_group = document.getElementById('tttt').querySelectorAll(".btn-group");
        if (btn_group.length != null) {
            $('#switchMode').prependTo(btn_group[0]);
        }
    }

    window.onload = init;
    
    function changeOnlineStatusModal() {
            document.getElementById('modalParagraph').style.display = "none";
            document.getElementById('myModalLabel').innerHTML = "Availability";
            document.getElementById('saveModal').innerHTML = "Save";
            document.getElementById('newTitle').style.display = "none";
            document.getElementById('statusSwitcher').style.display = "block";
            document.getElementById('saveModal').onclick = function () {
                changeOnlineStatus();
            }
            $("#myModal").modal("show");
        }

        function changeOnlineStatus() {
            var obj = document.getElementById('cobj_offline');
            var statusDesc = document.getElementById('statusDesc');
            var innerElement = document.getElementById('innerElement');
            if (obj.checked == false) {
                statusDesc.style.color = "#6ea03c";
                statusDesc.innerHTML = "Status: Online";
            } else if (obj.checked == true) {
                statusDesc.style.color = "#fa8228";
                statusDesc.innerHTML = "Status: Offline";
            }
        }
</script>

<!-- Modal for title editing -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Title</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="" onkeyup="if (event.keyCode == 13) {saveTitle();$('#myModal').modal('hide');}" onsubmit="return false;">
                        <input id="newTitle" type="text" value="">
                    </form>
                    <form method="post" action="" onkeyup="if (event.keyCode == 13) {$('#myModal').modal('hide');}" onsubmit="return false;">
                        <div class="form-group" id="statusSwitcher">
                            <table>
                                <tr>
                                    <td style="padding-right:15px;">
                                        Status<span class="asterisk">*</span>
                                    </td>
                                    <td>
                                        <div id="lm_layout">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" onclick="" name="lm_status" id="cobj_online" value="online">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:5px;">Online</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio" onclick="" name="lm_status" id="cobj_offline" value="offline" checked="checked">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:5px;">Offline</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </label>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                    <p id="modalParagraph"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="saveModal" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid" id="ilContentContainer">
    <div class="row">

        <div id="il_center_col" class="col-sm-12">



            <form id="form_" role="form" class="" method="post">

                <div class="form-horizontal">
                    <!-- todo: HIDE_LABELS_STYLE -->


                    <!-- Please note the usage of datatable attribute which is non-standard
	but ensures that JAWS treats this table as a layout table -->
                    <!-- removed a width="" -->

                    <div class="ilFormHeader">
                        <h3 class="ilHeader"><a name="il_form_top"></a>Owner of object</h3>
                        <div class="ilFormCmds">


                        </div>
                        <div class="ilHeaderDesc"></div>
                    </div>

                    <div class="form-group" id="il_prop_cont_owner">
                        <label for="owner" class="col-sm-3 control-label">Login <span class="asterisk">*</span></label>
                        <div class="col-sm-9">
                            <input class="form-control ui-autocomplete-input" type="text" id="owner" maxlength="200" name="owner" value="root" autocomplete="off">
                            <script type="text/javascript">
                                il.Util.addOnLoad(

                                    function () {

                                        $.widget("custom.iladvancedautocomplete", $.ui.autocomplete, {
                                            more: false,
                                            _renderMenu: function (ul, items) {
                                                var that = this;
                                                $.each(items, function (index, item) {
                                                    that._renderItemData(ul, item);
                                                });

                                                that.options.requestUrl = that.options.requestUrl.replace(/&fetchall=1/g, '');

                                                if (that.more) {
                                                    ul.append("<li class='ui-menu-category ui-menu-more ui-state-disabled'><span>&raquo;more</span></li>");
                                                    ul.find('li').last().on('click', function (e) {
                                                        that.options.requestUrl += '&fetchall=1';
                                                        that.close(e);
                                                        that.search(null, e);
                                                        e.preventDefault();
                                                    });
                                                }
                                            }
                                        });

                                        $('#owner').iladvancedautocomplete({
                                            requestUrl: "ilias.php?ref_id=75&cmd=doUserAutoComplete&cmdClass=ilrepositorysearchgui&cmdNode=jm:kb:5q:x3&baseClass=ilLMEditorGUI&cmdMode=asynch",
                                            source: function (request, response) {
                                                var that = this;
                                                $.getJSON(that.options.requestUrl, {
                                                    term: request.term
                                                }, function (data) {
                                                    if (typeof data.items == "undefined") {
                                                        response(data);
                                                    } else {
                                                        that.more = data.hasMoreResults;
                                                        response(data.items);
                                                    }
                                                });
                                            },
                                            minLength: 3
                                        });





                                    }
                                );
                            </script>
                            <div class="help-block">Attention, you may loose access permissions on this object after changing the owner.</div>



                        </div>
                    </div>
                    <!-- end of ilFormRow -->
                    <!-- <script type="text/javascript">
                        $(function() {
                            il.Form.initItem('', );
                        });
                    </script> -->
                    <div class="ilFormFooter clearfix">
                        <div class="col-sm-6 ilFormRequired">


                            <span class="asterisk">*</span><span class="small"> Required</span> &nbsp;

                        </div>
                        <div class="col-sm-6 ilFormCmds">

                            <input class="btn btn-default btn-sm" type="submit" name="cmd[changeOwner]" value="Change owner">

                        </div>
                    </div>
                    <!-- end of ilFormRow -->

                </div>
            </form>
        </div>
    </div>
</div>