<div class="container-fluid" id="ilContentContainer">
    <div class="row">

        <div id="il_center_col" class="col-sm-12">

            <!-- todo: proper id support, spacer?, separator?, emph classes -->

            <form method="post" id="ilToolbar" action="" class="ilForm">
                <h3 class="ilAccHeadingHidden">Functions</h3>
                <nav class="ilToolbar navbar navbar-default yamm " role="navigation" id="2">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">


                            <ul class="ilToolbarStickyItems nav navbar-nav">

                                <li class="ilToolbarStickyItem">
                                    <div class="navbar-form">
                                        <input class="btn btn-default" type="submit" name="cmd[addMenuEntry]" value="Add Menu Entry">
                                    </div>
                                </li>

                            </ul>

                            <button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target="#tb-collapse-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="tb-collapse-2">
                            <ul class="ilToolbarItems nav navbar-nav">

                            </ul>
                        </div>
                    </div>
                </nav>



                <div class="form-horizontal">
                    <!-- todo: HIDE_LABELS_STYLE -->


                    <!-- Please note the usage of datatable attribute which is non-standard
                        but ensures that JAWS treats this table as a layout table -->
                    <!-- removed a width="" -->





                    <div class="ilFormHeader">
                        <h3 class="ilHeader"><a name="il_form_top"></a>Menu</h3>
                        <div class="ilFormCmds">



                            <input class="btn btn-default btn-sm" type="SUBMIT" name="cmd[saveMenuProperties]" value="Save">


                        </div>
                        <div class="ilHeaderDesc"></div>
                    </div>






                    <div class="form-group" id="il_prop_cont_cobj_act_lm_menu">
                        <label for="cobj_act_lm_menu" class="col-sm-3 control-label">Enable Menu</label>
                        <div class="col-sm-9">










                            <div class="checkbox">
                                <label>
                                    <input onclick="" type="checkbox" id="cobj_act_lm_menu" name="cobj_act_lm_menu" value="1" checked="checked"> &nbsp;
                                </label>
                            </div>









                        </div>
                    </div>
                    <!-- end of ilFormRow -->
                    <!-- <script type="text/javascript">
                    $(function() {
                        il.Form.initItem('', );
                    });
                    </script> -->





                    <div class="form-group" id="il_prop_cont_cobj_act_toc">
                        <label for="cobj_act_toc" class="col-sm-3 control-label">Table of Contents</label>
                        <div class="col-sm-9">










                            <div class="checkbox">
                                <label>
                                    <input onclick="" type="checkbox" id="cobj_act_toc" name="cobj_act_toc" value="1" checked="checked"> &nbsp;
                                </label>
                            </div>









                        </div>
                    </div>
                    <!-- end of ilFormRow -->
                    <!-- <script type="text/javascript">
                    $(function() {
                        il.Form.initItem('', );
                    });
                    </script> -->





                    <div class="form-group" id="il_prop_cont_cobj_act_print">
                        <label for="cobj_act_print" class="col-sm-3 control-label">Print View</label>
                        <div class="col-sm-9">










                            <div class="checkbox">
                                <label>
                                    <input onclick="" type="checkbox" id="cobj_act_print" name="cobj_act_print" value="1" checked="checked"> &nbsp;
                                </label>
                            </div>









                            <div class="ilSubForm" id="subform_cobj_act_print">
                                <!-- todo: HIDE_LABELS_STYLE -->









                                <div class="form-group" id="il_prop_cont_cobj_act_print_prev_glo">
                                    <label for="cobj_act_print_prev_glo" class="col-sm-3 control-label il_checkbox">Prevent Glossary Appendix in Print View</label>
                                    <div class="col-sm-9 il_checkbox">










                                        <div class="checkbox">
                                            <label>
                                                <input onclick="" type="checkbox" id="cobj_act_print_prev_glo" name="cobj_act_print_prev_glo" value="1"> &nbsp;
                                            </label>
                                        </div>









                                    </div>
                                </div>
                                <!-- end of ilFormRow -->
                                <!-- <script type="text/javascript">
                                $(function() {
                                    il.Form.initItem('', );
                                });
                                </script> -->






                                <div class="form-group" id="il_prop_cont_hide_head_foot_print">
                                    <label for="hide_head_foot_print" class="col-sm-3 control-label il_checkbox">Hide custom header and footer in print view</label>
                                    <div class="col-sm-9 il_checkbox">










                                        <div class="checkbox">
                                            <label>
                                                <input onclick="" type="checkbox" id="hide_head_foot_print" name="hide_head_foot_print" value="1"> &nbsp;
                                            </label>
                                        </div>









                                    </div>
                                </div>
                                <!-- end of ilFormRow -->
                                <!-- <script type="text/javascript">
                                $(function() {
                                    il.Form.initItem('', );
                                });
                                </script> -->





                            </div>


                        </div>
                    </div>
                    <!-- end of ilFormRow -->
                    <!-- <script type="text/javascript">
                    $(function() {
                        il.Form.initItem('', );
                    });
                    </script> -->





                    <div class="form-group" id="il_prop_cont_cobj_act_downloads">
                        <label for="cobj_act_downloads" class="col-sm-3 control-label">Enable Download</label>
                        <div class="col-sm-9">










                            <div class="checkbox">
                                <label>
                                    <input onclick="" type="checkbox" id="cobj_act_downloads" name="cobj_act_downloads" value="1"> &nbsp;
                                </label>
                            </div>







                            <div class="help-block">Offers all public export files for download (e.g. for offline use or import). There is currently no public download file available. <a href="">Change</a></div>



                            <div class="ilSubForm" id="subform_cobj_act_downloads" style="overflow: hidden; height: 0px; display: none;">
                                <!-- todo: HIDE_LABELS_STYLE -->









                                <div class="form-group" id="il_prop_cont_cobj_act_downloads_public">
                                    <label for="cobj_act_downloads_public" class="col-sm-3 control-label il_checkbox">Allow download even for anonymous users (in public area)</label>
                                    <div class="col-sm-9 il_checkbox">










                                        <div class="checkbox">
                                            <label>
                                                <input onclick="" type="checkbox" id="cobj_act_downloads_public" name="cobj_act_downloads_public" value="1" checked="checked"> &nbsp;
                                            </label>
                                        </div>









                                    </div>
                                </div>
                                <!-- end of ilFormRow -->
                                <!-- <script type="text/javascript">
                                $(function() {
                                    il.Form.initItem('', );
                                });
                                </script> -->





                            </div>
                            <script type="text/javascript">
                                il.Form.hideSubForm('subform_cobj_act_downloads');
                            </script>

                        </div>
                    </div>
                    <!-- end of ilFormRow -->
                    <!-- <script type="text/javascript">
                    $(function() {
                        il.Form.initItem('', );
                    });
                    </script> -->






                    <div class="ilFormFooter clearfix">
                        <div class="col-sm-6 ilFormRequired">


                            &nbsp;</div>
                        <div class="col-sm-6 ilFormCmds">

                            <input class="btn btn-default btn-sm" type="submit" name="cmd[saveMenuProperties]" value="Save">

                        </div>
                    </div>
                    <!-- end of ilFormRow -->

                </div>

                <br>


                <div class="ilTableHeaderTitle">
                    <div class="ilFloatRight">



                    </div>
                    <h3 class="ilHeader ilTableHeaderTitle"><a class="ilAccAnchor" name="il_table_top" id="il_table_top">Custom Menu Entries</a></h3>
                </div>



                <div class="ilTableOuter">

                    <div class="ilTableCommandRowTop form-inline">
                        <div class="ilFloatLeft">




                        </div>

                        <div class="ilRight">


                            <input class="btn btn-default" type="submit" name="cmd[saveMenuProperties]" value="Save">


                        </div>

                        <div style="clear:both;"></div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped" datatable="1">


                            <thead>

                                <tr>


                                    <th><span id="thc__1">Link</span></th>




                                    <th><span id="thc__2">Active</span></th>




                                    <th><span id="thc__3">Actions</span></th>






                                </tr>

                            </thead>
                            <tbody>



                                <tr class="tblrow1">
                                    <td class="ilCenter" colspan="3">This object is empty and contains no items.</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>




                    <div class="ilTableCommandRow form-inline">
                        <div class="ilFloatLeft">




                        </div>

                        <div class="ilRight">


                            <input class="btn btn-default" type="submit" name="cmd[saveMenuProperties]" value="Save">


                        </div>

                        <div style="clear:both;"></div>
                    </div>

                </div>



            </form>





        </div>




    </div>
</div>