<script>
    function init() {
        var btn_group = document.getElementById('tttt').querySelectorAll(".btn-group");
        if (btn_group.length != null) {
            $('#switchMode').prependTo(btn_group[0]);
        }
    
        //Switch Online/Offline status
        var actionList = document.getElementById('ilAdvSelListTable_act_77_pref_77');
        var onlineElement = document.createElement('li');
        var innerElement = document.createElement('span');
        var linkElement = document.createElement('a');

        innerElement.className = "xsmall";
        innerElement.innerHTML = "Set Online";
        innerElement.id = "innerElement";
        linkElement.id = "act_77_pref_77_";
        linkElement.href = "#";
        linkElement.target = "_top";
        onlineElement.id = "onlineElement";
        var statusDesc = document.getElementById('statusDesc');
        onlineElement.onclick = function () {
            changeOnlineStatus();
        }
        linkElement.appendChild(innerElement);
        onlineElement.appendChild(linkElement);
        actionList.appendChild(onlineElement);

    }

    window.onload = init;

    function changeOnlineStatus() {
        var statusDesc = document.getElementById('statusDesc');
        var innerElement = document.getElementById('innerElement');
        if (innerElement.innerHTML == "Set Online") {
            statusDesc.style.color = "#6ea03c";
            statusDesc.innerHTML = "Status: Online";
            innerElement.innerHTML = "Set Offline";
        } else if (innerElement.innerHTML == "Set Offline") {
            statusDesc.style.color = "#fa8228";
            statusDesc.innerHTML = "Status: Offline";
            innerElement.innerHTML = "Set Online";
        }
    }
</script>

<div class="container-fluid" id="ilContentContainer">
    <div class="row">

        <div id="il_center_col" class="col-sm-12">




            <form action="" name="table_17d8fc9eb08f6416e165ffb25250e171" method="post" target="" class="form-inline preventDoubleSubmission" role="form">



                <div class="ilTableHeaderTitle">
                    <div class="ilFloatRight">



                    </div>
                    <h3 class="ilHeader ilTableHeaderTitle"><a class="ilAccAnchor" name="il_table_top" id="il_table_top">Learning Module (Invalid Links)</a></h3>
                </div>



                <div class="ilTableOuter">

                    <div class="ilTableCommandRowTop form-inline">
                        <div class="ilFloatLeft">




                        </div>

                        <div class="ilRight">


                            <input class="btn btn-default" type="submit" name="cmd[refreshLinkCheck]" value="Refresh">


                        </div>

                        <div style="clear:both;"></div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped" datatable="1">


                            <colgroup>

                                <col width="20%">

                                    <col width="80%">

                                        <col width="10%">

                            </colgroup>

                            <thead>

                                <tr>



                                    <th width="20%">
                                        <a class="tblheader" href="" title="Sort by this column"><span id="thc__1">Title</span>

                                    </a>
                                    </th>




                                    <th width="80%">
                                        <a class="tblheader" href="" title="Sort by this column"><span id="thc__2">URL</span>

                                    </a>
                                    </th>



                                    <th width="10%"><span id="thc__3"></span></th>






                                </tr>

                            </thead>
                            <tbody>



                                <tr class="tblrow1">
                                    <td class="ilCenter" colspan="3">This object is empty and contains no items.</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>




                    <div class="ilTableCommandRow form-inline">
                        <div class="ilFloatLeft">




                        </div>

                        <div class="ilRight">


                            <input class="btn btn-default" type="submit" name="cmd[refreshLinkCheck]" value="Refresh">


                        </div>

                        <div style="clear:both;"></div>
                    </div>

                </div>



            </form>





        </div>




    </div>
</div>