<script>
    function init() {
        var btn_group = document.getElementById('tttt').querySelectorAll(".btn-group");
        if (btn_group.length != null) {
            $('#switchMode').prependTo(btn_group[0]);
        }
    }

    window.onload = init;
    
    function changeOnlineStatusModal() {
            document.getElementById('modalParagraph').style.display = "none";
            document.getElementById('myModalLabel').innerHTML = "Availability";
            document.getElementById('saveModal').innerHTML = "Save";
            document.getElementById('newTitle').style.display = "none";
            document.getElementById('statusSwitcher').style.display = "block";
            document.getElementById('saveModal').onclick = function () {
                changeOnlineStatus();
            }
            $("#myModal").modal("show");
        }

        function changeOnlineStatus() {
            var obj = document.getElementById('cobj_offline');
            var statusDesc = document.getElementById('statusDesc');
            var innerElement = document.getElementById('innerElement');
            if (obj.checked == false) {
                statusDesc.style.color = "#6ea03c";
                statusDesc.innerHTML = "Status: Online";
            } else if (obj.checked == true) {
                statusDesc.style.color = "#fa8228";
                statusDesc.innerHTML = "Status: Offline";
            }
        }
</script>

<!-- Modal for title editing -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Title</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="" onkeyup="if (event.keyCode == 13) {saveTitle();$('#myModal').modal('hide');}" onsubmit="return false;">
                        <input id="newTitle" type="text" value="">
                    </form>
                    <form method="post" action="" onkeyup="if (event.keyCode == 13) {$('#myModal').modal('hide');}" onsubmit="return false;">
                        <div class="form-group" id="statusSwitcher">
                            <table>
                                <tr>
                                    <td style="padding-right:15px;">
                                        Status<span class="asterisk">*</span>
                                    </td>
                                    <td>
                                        <div id="lm_layout">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" onclick="" name="lm_status" id="cobj_online" value="online">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:5px;">Online</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio" onclick="" name="lm_status" id="cobj_offline" value="offline" checked="checked">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:5px;">Offline</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </label>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                    <p id="modalParagraph"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="saveModal" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid" id="ilContentContainer">
    <div class="row">
        <div id="il_center_col" class="col-sm-12">

            <form action="" name="table_c820481b8faec6c0cda6e35b4809db6f" method="post" target="" class="form-inline preventDoubleSubmission" role="form">

                <div class="ilTableOuter">
                    <div class="table-responsive">
                        <table class="table table-striped" datatable="1">
                            <thead>
                                <tr>

                                    <th width="1px"><span id="thc__1"></span></th>

                                    <th>
                                        <a class="tblheader" href="" title="Sort by this column"><span id="thc__2">User</span>

                                    </a>
                                    </th>

                                    <th><span id="thc__3">Question</span></th>

                                    <th>
                                        <a class="tblheader" href="" title="Sort by this column"><span id="thc__4">Page</span>

                                    </a>
                                    </th>

                                    <th>
                                        <a class="tblheader" href="" title="Sort by this column"><span id="thc__5">Last Try</span>

                                    </a>
                                    </th>

                                    <th><span id="thc__6">Unlocked</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tblrow1">
                                    <td class="ilCenter" colspan="6">This object is empty and contains no items.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>