<div class="ilToolbar"><h3 class="ilAccHeadingHidden">{TXT_FUNCTIONS}</h3>
    <p>This is some content</p>
   <textarea></textarea></br>
<!-- BEGIN btn_row -->
<!-- BEGIN btn_cell -->

    <a {BTN1_ACC_KEY} class="btn btn-default{BTN1_CLASS}" href="{BTN1_LINK}" {BTN1_TARGET}>&nbsp;{BTN1_TXT}&nbsp;</a>&nbsp;&nbsp;&nbsp;
<!-- END btn_cell -->
<!-- END btn_row -->
    <a {BTN2_ACC_KEY} class="btn btn-default{BTN2_CLASS}" href="{BTN2_LINK}" {BTN2_TARGET}>&nbsp;{BTN2_TXT}&nbsp;</a>&nbsp;&nbsp;&nbsp;
</div>