<script>
    function init() {
        var btn_group = document.getElementById('tttt').querySelectorAll(".btn-group");
        if (btn_group.length != null) {
            $('#switchMode').prependTo(btn_group[0]);
        }
    }

    window.onload = init;
</script>

<div class="container-fluid" id="ilContentContainer">
    <div class="row">

        <div id="il_center_col" class="col-sm-12">




            <form action="ilias.php?ref_id=75&amp;cmd=post&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI&amp;rtoken=9d06514d3f5d7ab934914e13bc1e855d" name="table_81d4911e02fdb5f729ec94d4cfdbfd7d" method="post" target="" class="form-inline preventDoubleSubmission" role="form">



                <div class="ilTableHeaderTitle">
                    <div class="ilFloatRight">



                    </div>
                    <h3 class="ilHeader ilTableHeaderTitle"><a class="ilAccAnchor" name="il_table_top" id="il_table_top">Internal Links</a></h3>
                </div>



                <div class="ilTableOuter">


                    <div class="table-responsive">
                        <table class="table table-striped" datatable="1">


                            <thead>

                                <tr>


                                    <th><span id="thc__1">Page</span></th>




                                    <th><span id="thc__2">Internal Links</span></th>






                                </tr>

                            </thead>
                            <tbody>



                                <tr class="tblrow1">
                                    <td class="ilCenter" colspan="2">This object is empty and contains no items.</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>




                </div>



            </form>





        </div>




    </div>
</div>