<div class="container-fluid" id="ilContentContainer">
    <div class="row">
        <div id="il_center_col" class="col-sm-12">
            <div id="il_expl2_jstree_cont_out_lm_exp" class="">
                <div id="il_expl2_jstree_cont_lm_exp" class="jstree jstree-0 jstree-focused">
                    <ul class="jstree-no-dots jstree-no-icons">
                        <li rel="disabled" id="exp_node_lm_exp_1" class="jstree-last jstree-open"><ins class="jstree-icon">&nbsp;</ins><a href=""><ins class="jstree-icon">&nbsp;</ins><img src="./templates/default/images/icon_lm.svg" alt="Icon Learning Module ILIAS" title="Icon Learning Module ILIAS" border="0"> <span class="loader"></span><span class="ilExp2NodeContent">Learning Module</span></a>
                            <ul>
                                <li rel="disabled" id="exp_node_lm_exp_54" class="jstree-open"><ins class="jstree-icon">&nbsp;</ins>
                                    <a href="">
                                        <ins class="jstree-icon">&nbsp;</ins>
                                        <img src="./templates/default/images/icon_st.svg" alt="Icon Chapter" title="Icon Chapter" border="0"> <span class="loader"></span>
                                        <span class="ilExp2NodeContent">Chapter 1</span>
                                    </a>
                                    <ul>
                                        <li rel="disabled" id="exp_node_lm_exp_55" class="jstree-leaf">
                                            <ins class="jstree-icon">&nbsp;</ins>
                                            <a href="">
                                                <ins class="jstree-icon">&nbsp;</ins>
                                                <img src="./templates/default/images/icon_pg.svg" alt="Icon Page" title="Icon Page" border="0"> <span class="loader"></span>
                                                <span class="ilExp2NodeContent ilHighlighted">Page 1</span>
                                            </a>
                                        </li>
                                        <li rel="disabled" id="exp_node_lm_exp_60" class="jstree-leaf">
                                            <ins class="jstree-icon">&nbsp;</ins>
                                            <a href="">
                                                <ins class="jstree-icon">&nbsp;</ins>
                                                <img src="./templates/default/images/icon_pg.svg" alt="Icon Page" title="Icon Page" border="0"> <span class="loader"></span>
                                                <span class="ilExp2NodeContent">Page 2</span>
                                            </a>
                                        </li>
                                        <li rel="disabled" id="exp_node_lm_exp_61" class="jstree-last jstree-open">
                                            <ins class="jstree-icon">&nbsp;</ins>
                                            <a href="">
                                                <ins class="jstree-icon">&nbsp;</ins>
                                                <img src="./templates/default/images/icon_st.svg" alt="Icon Chapter" title="Icon Chapter" border="0"> 
                                                <span class="loader"></span>
                                                <span class="ilExp2NodeContent">Subchapter 1.1</span>
                                            </a>
                                            <ul style="">
                                                <li rel="disabled" id="exp_node_lm_exp_62" class="jstree-leaf">
                                                    <ins class="jstree-icon">&nbsp;</ins>
                                                    <a href="">
                                                        <ins class="jstree-icon">&nbsp;</ins>
                                                        <img src="./templates/default/images/icon_pg.svg" alt="Icon Page" title="Icon Page" border="0"> 
                                                        <span class="loader"></span>
                                                        <span class="ilExp2NodeContent">Page 1</span>
                                                    </a>
                                                </li>
                                                <li rel="disabled" id="exp_node_lm_exp_63" class="jstree-last jstree-leaf">
                                                    <ins class="jstree-icon">&nbsp;</ins>
                                                    <a href="">
                                                        <ins class="jstree-icon">&nbsp;</ins>
                                                        <img src="./templates/default/images/icon_pg.svg" alt="Icon Page" title="Icon Page" border="0"> 
                                                        <span class="loader"></span>
                                                        <span class="ilExp2NodeContent">Page 2</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li rel="disabled" id="exp_node_lm_exp_58" class="jstree-last jstree-open">
                                    <ins class="jstree-icon">&nbsp;</ins>
                                    <a href="">
                                        <ins class="jstree-icon">&nbsp;</ins>
                                        <img src="./templates/default/images/icon_st.svg" alt="Icon Chapter" title="Icon Chapter" border="0"> <span class="loader"></span>
                                        <span class="ilExp2NodeContent">Chapter 2</span>
                                    </a>
                                    <ul style="">
                                        <li rel="disabled" id="exp_node_lm_exp_66" class="jstree-last jstree-leaf">
                                            <ins class="jstree-icon">&nbsp;</ins>
                                            <a href=""><ins class="jstree-icon">&nbsp;</ins>
                                                <img src="./templates/default/images/icon_pg.svg" alt="Icon Page" title="Icon Page" border="0"> <span class="loader"></span>
                                                <span class="ilExp2NodeContent">Page 1</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>