<head>
    <link rel="stylesheet" type="text/css" href="./Services/COPage/css/syntaxhighlight.css">
    <link rel="stylesheet" type="text/css" href="./Services/Calendar/css/panel_min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="./Services/COPage/css/content.css">

    <script type="text/javascript" src="./Services/UIComponent/Modal/js/Modal.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/YUI/js/2_9_0/container/container-min.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/Notes/js/ilNotes.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/Tagging/js/ilTagging.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/UIComponent/AdvancedSelectionList/js/AdvancedSelectionList.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/YUI/js/2_9_0/dragdrop/dragdrop-min.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/YUI/js/2_9_0/element/element-min.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/Form/js/ServiceFormHierarchyForm.js?vers=5-1-2-2016-01-27"></script>

    <!-- Modal Style fix -->
    <style>
        /* scroll fixes */
        
        .modal-open .modal {
            padding-left: 0px !important;
            padding-right: 0px !important;
            overflow-y: scroll;
        }
    </style>

    <script>
        var titleId = "";
        var treeId = "";

        function init() {

            //center modal
            var $clone = $("#myModal").clone().css('display', 'block').appendTo('body');
            var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
            top = top > 0 ? top : 0;
            $clone.remove();
            $("#myModal").find('.modal-content').css("margin-top", top);

            //Adds the correct handling for all "Edit Title" links with the correct Chapter/Page Id
            var x = document.getElementsByName("editTitle");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].onclick = function () {
                    titleId = $(this).data('whatever');
                    treeId = $(this).data('tree');
                    document.getElementById('myModalLabel').innerHTML = "Edit Title";
                    document.getElementById('newTitle').style.display = "block";
                    document.getElementById('saveModal').innerHTML = "Save Changes";
                    document.getElementById('modalParagraph').style.display = "none";
                    document.getElementById('statusSwitcher').style.display = "none";
                    document.getElementById('newTitle').value = document.getElementById(titleId).innerHTML;
                    $("#myModal").modal("show");
                    document.getElementById('newTitle').focus();
                    document.getElementById('saveModal').onclick = function () {
                        saveTitle();
                    }
                };
            };

            var btn_group = document.getElementById('tttt').querySelectorAll(".btn-group");
            if (btn_group.length != null) {
                $('#switchMode').prependTo(btn_group[0]);
            }

        }

        window.onload = init;

        function saveTitle() {
            var tmpTitle = (document.getElementById('newTitle')).value;
            document.getElementById(titleId).innerHTML = tmpTitle;
            var treeElements = document.getElementById(treeId).querySelectorAll(".ilExp2NodeContent");
            if (treeElements != null) {
                treeElements[0].innerHTML = tmpTitle;
            };
            titleId = "";
            treeId = "";
        }

        function changeChildBoxes(obj) {
            var childs = obj.dataset.params.split(",");
            if (obj.checked == false) {
                for (i = 0; i < childs.length; i++) {
                    document.getElementById(childs[i]).checked = false;
                }
            } else {
                for (i = 0; i < childs.length; i++) {
                    document.getElementById(childs[i]).checked = true;
                }
            }
        }

        function changeParentBoxes(obj) {
            var parents = obj.dataset.parents.split(",");
            if (obj.checked == false) {
                for (i = 0; i < parents.length; i++) {
                    document.getElementById(parents[i]).checked = false;
                }
            }
        }

        function deleteCheckedContent() {
            var checkedBoxes = document.querySelectorAll('input[id*="inp"]:checked');
            if (checkedBoxes.length != 0) {
                for (i = 0; i < checkedBoxes.length; i++) {
                    var rows = document.getElementsByName(checkedBoxes[i].dataset.row);
                    for (j = 0; j < rows.length; j++) {
                        rows[j].style.display = "none";
                    }
                    var tree = document.getElementById(checkedBoxes[i].dataset.tree);
                    if (tree != null) {
                        tree.style.display = "none";
                    }
                    checkedBoxes[i].checked = false;
                }
            }
        }

        function deleteContentModal() {
            var checkedBoxes = document.querySelectorAll('input[id*="inp"]:checked');
            if (checkedBoxes.length != 0) {
                document.getElementById('modalParagraph').style.display = "block";
                document.getElementById('myModalLabel').innerHTML = "Delete Item(s)";
                document.getElementById('modalParagraph').innerHTML = "Are you sure that you want to delete the following item(s)?";
                document.getElementById('saveModal').innerHTML = "Confirm";
                document.getElementById('newTitle').style.display = "none";
                document.getElementById('statusSwitcher').style.display = "none";
                loadItems();
                document.getElementById('saveModal').onclick = function () {
                    deleteCheckedContent();
                    removeModalTableItems();
                }
                $("#myModal").modal("show");
            }
        }

        function changeOnlineStatusModal() {
            document.getElementById('modalParagraph').style.display = "none";
            document.getElementById('myModalLabel').innerHTML = "Availability";
            document.getElementById('saveModal').innerHTML = "Save";
            document.getElementById('newTitle').style.display = "none";
            document.getElementById('statusSwitcher').style.display = "block";
            document.getElementById('saveModal').onclick = function () {
                changeOnlineStatus();
            }
            $("#myModal").modal("show");
        }

        function changeOnlineStatus() {
            var obj = document.getElementById('cobj_offline');
            var statusDesc = document.getElementById('statusDesc');
            var innerElement = document.getElementById('innerElement');
            if (obj.checked == false) {
                statusDesc.style.color = "#6ea03c";
                statusDesc.innerHTML = "Status: Online";
            } else if (obj.checked == true) {
                statusDesc.style.color = "#fa8228";
                statusDesc.innerHTML = "Status: Offline";
            }
        }

        function loadItems() {
            var checkedBoxes = document.querySelectorAll('input[id*="inp"]:checked');
            var table = document.getElementById('deleteItemsConfirmation');
            var icons = null;
            var titles = null;
            if (checkedBoxes.length != 0) {
                for (i = 0; i < checkedBoxes.length; i++) {
                    var rows = document.getElementsByName(checkedBoxes[i].dataset.row);
                    for (j = 0; j < rows.length; j++) {
                        icons = rows[j].querySelectorAll('.ilHFormIcon');
                        titles = rows[j].querySelectorAll('.ilHFormInput');
                        if (icons.length != 0) {
                            for (k = 0; k < icons.length; k++) {
                                var tableRow = table.insertRow(k);
                                var cell1 = tableRow.insertCell(0);
                                var cell2 = tableRow.insertCell(1);
                                cell1.innerHTML = icons[k].innerHTML;
                                cell2.innerHTML = titles[k].innerHTML;
                            }
                        }
                    }
                }
            }
        }

        function removeModalTableItems(obj) {
            if (obj.className == "modal") {
                var table = document.getElementById('deleteItemsConfirmation');
                for (i = 0; i < table.rows.length; i++) {
                    table.deleteRow(i);
                }
            }
        }
    </script>

</head>


<body>
    <!-- Modal for title editing -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" onchange="removeModalTableItems(this);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Title</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="" onkeyup="if (event.keyCode == 13) {saveTitle();$('#myModal').modal('hide');}" onsubmit="return false;">
                        <input id="newTitle" type="text" value="">
                    </form>
                    <form method="post" action="" onkeyup="if (event.keyCode == 13) {$('#myModal').modal('hide');}" onsubmit="return false;">
                        <div class="form-group" id="statusSwitcher">
                            <table>
                                <tr>
                                    <td style="padding-right:15px;">
                                        Status<span class="asterisk">*</span>
                                    </td>
                                    <td>
                                        <div id="lm_layout">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" onclick="" name="lm_status" id="cobj_online" value="online">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:5px;">Online</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio" onclick="" name="lm_status" id="cobj_offline" value="offline" checked="checked">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:5px;">Offline</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </label>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                    <p id="modalParagraph"></p>
                    <table id="deleteItemsConfirmation"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="removeModalTableItems()">Close</button>
                    <button id="saveModal" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="ilContentContainer">
        <div class="row">

            <div id="il_center_col" class="col-sm-12">


                <div id="ilPageEditLegend" style="margin-top:0px;">
                    <div>
                        <div class="il_droparea"><span class="sr-only"></span><span class="glyphicon glyphicon-plus"></span></div>
                        <span class="subtitle">Click on placeholders to add new elements.</span>
                    </div>

                    <div>
                        <img alt="" src="./templates/default/images/icon_st.svg">
                        <span class="sr-only"></span><span class="glyphicon glyphicon-share-alt"></span>
                        <div class="il_droparea"><span class="sr-only"></span><span class="glyphicon glyphicon-plus"></span></div>
                        <span class="subtitle">Drag and drop icons on placeholders to move elements.</span>
                    </div>


                </div>

                <form id="form_hform" role="form" class="form-horizontal " style="margin-top:10px;" action="" method="post" onsubmit="return false;">

                    <div class="form-horizontal">
                        <input type="hidden" id="il_hform_cmd" name="" value="">
                        <input type="hidden" id="il_hform_node" name="il_hform_node" value="">
                        <input type="hidden" id="il_hform_fc" name="il_hform_fc" value="">
                        <input type="hidden" id="il_hform_as_subitem" name="il_hform_as_subitem" value="">
                        <input type="hidden" id="il_hform_multi" name="il_hform_multi" value="">
                        <input type="hidden" id="il_hform_source_id" name="il_hform_source_id" value="">
                        <input type="hidden" id="il_hform_target_id" name="il_hform_target_id" value="">
                        <input type="hidden" id="il_hform_expand" name="il_hform_expand" value="">

                        <div class="ilHFormHeader">

                            <img border="0" alt="-commands-" src="./templates/default/images/arrow_upright.svg">

                            <input class="btn btn-default" type="submit" name="cmd[delete]" value="Delete" onclick="deleteContentModal();">

                            <input class="btn btn-default" type="submit" name="cmd[cutItems]" value="Cut">

                            <input class="btn btn-default" type="submit" name="cmd[copyItems]" value="Copy">


                        </div>

                        <div class="ilHFormContent form-inline">
                            <!-- looking for a better way than using a (layout) table, using DIVs and display table cell does not allow colspan
                                             the table is at least responsive and allows proper rtl support
                                        -->
                            <table>
                                <colgroup span="22">
                                    <col span="1" />
                                    <col span="1" />
                                    <col span="1" />
                                    <col span="1" />
                                    <col span="1" />
                                    <col span="1" />
                                    <col span="1" />
                                    <col span="12" />
                                    <col span="3" />
                                </colgroup>
                                <tbody>
                                    <!-- Dropdown-Row -->
                                    <tr>
                                        <td colspan="3"></td>
                                        <td colspan="16">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_1fc" onclick="doMouseClick(event, '1fc');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_1fc">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">
                                                    <tbody>
                                                        <!-- Insert Chapter -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_1t1fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Chapter
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- Chapter Row -->
                                    <tr name="row1">
                                        <td class="ilHFormExpIcon">

                                        </td>
                                        <td class="ilHFormCheckbox">

                                            <input type="checkbox" name="id[]" id="inp1" value="54" onchange="changeChildBoxes(this);" data-params="inp2,inp3,inp4,inp5,inp6" data-row="row1" data-tree="exp_node_0_1">

                                        </td>
                                        <td class="ilHFormIcon">

                                            <a name="node_54"><img class="il_img_st" id="il_img_54" title="./templates/default/images/icon_st.svg" alt="./templates/default/images/icon_st.svg" src="./templates/default/images/icon_st.svg"></a>

                                        </td>
                                        <td class="ilHFormInput" colspan="16">
                                            <a id="inp54" class="form-control" name="title[54]" style="width:100%" href="{CHAP1_LINK}">Chapter 1</a>
                                        </td>
                                        <td class="ilHFormItemCmd" colspan="3"><a class="il_ContainerItemCommand2" name="editTitle" data-whatever="inp54" data-tree="exp_node_0_1" style="white-space: nowrap;">Edit Title</a>

                                        </td>
                                    </tr>

                                </tbody>
                                <tbody name="row1">
                                    <!-- Dropdown-Row -->
                                    <tr name="row3">
                                        <td colspan="5"></td>
                                        <td colspan="14">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_54fc" onclick="doMouseClick(event, '54fc');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_54fc">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Page -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Page
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t2fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Paste Pages from Clipboard
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>

                                    <!-- Page Row -->
                                    <tr name="row3">
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormCheckbox">

                                            <input type="checkbox" id="inp2" name="id[]" value="55" onchange="changeParentBoxes(this);" data-parents="inp1" data-row="row3" data-tree="exp_node_0_2">

                                        </td>
                                        <td class="ilHFormIcon">

                                            <a name="node_55"><img class="il_img_pg" id="il_img_55" title="./templates/default/images/icon_pg.svg" alt="./templates/default/images/icon_pg.svg" src="./templates/default/images/icon_pg.svg"></a>

                                        </td>
                                        <td class="ilHFormInput" colspan="14">
                                            <a id="inp55" class="form-control" name="title[55]" style="width:100%" href="{PAGE1_LINK}">Page 1</a>
                                        </td>
                                        <td class="ilHFormItemCmd" colspan="3"><a class="il_ContainerItemCommand2" name="editTitle" data-whatever="inp55" data-tree="exp_node_0_2" style="white-space: nowrap;">Edit Title</a>

                                        </td>
                                    </tr>

                                    <!-- Dropdown-Row -->
                                    <tr name="row4">
                                        <td colspan="5"></td>
                                        <td colspan="14">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_55" onclick="doMouseClick(event, '55');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_55">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Page -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Page
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t2_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Paste Pages from Clipboard
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>

                                    <!-- Page Row -->
                                    <tr name="row4">
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormCheckbox">

                                            <input type="checkbox" id="inp3" name="id[]" value="60" onchange="changeParentBoxes(this);" data-parents="inp1" data-row="row4" data-tree="exp_node_0_3">

                                        </td>
                                        <td class="ilHFormIcon">

                                            <a name="node_60"><img class="il_img_pg" id="il_img_60" title="./templates/default/images/icon_pg.svg" alt="./templates/default/images/icon_pg.svg" src="./templates/default/images/icon_pg.svg"></a>

                                        </td>
                                        <td class="ilHFormInput" colspan="14">
                                            <a id="inp60" class="form-control" name="title[60]" style="width:100%" href="{PAGE2_LINK}">Page 2</a>
                                        </td>
                                        <td class="ilHFormItemCmd" colspan="3"><a class="il_ContainerItemCommand2" name="editTitle" data-whatever="inp60" data-tree="exp_node_0_3" style="white-space: nowrap;">Edit Title</a>

                                        </td>
                                    </tr>

                                    <!-- Dropdown-Row -->
                                    <tr>
                                        <td colspan="5"></td>
                                        <td colspan="14">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_60" onclick="doMouseClick(event, '60');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_60">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Page -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Page
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t2_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Paste Pages from Clipboard
                                                            </td>
                                                        </tr>

                                                        <!-- Insert Chapter -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_59t3_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Sub-chapter
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>

                                    <!-- Subchapter Row -->
                                    <tr name="row5">
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormCheckbox">

                                            <input type="checkbox" id="inp4" name="id[]" value="61" onchange="changeChildBoxes(this);changeParentBoxes(this);" data-params="inp5,inp6" data-parents="inp1" data-row="row5" data-tree="exp_node_0_4">

                                        </td>
                                        <td class="ilHFormIcon">

                                            <a name="node_61"><img class="il_img_st" id="il_img_61" title="./templates/default/images/icon_st.svg" alt="./templates/default/images/icon_st.svg" src="./templates/default/images/icon_st.svg"></a>

                                        </td>
                                        <td class="ilHFormInput" colspan="14">
                                            <a id="inp61" class="form-control" name="title[61]" style="width:100%" href="{SUBCHAP1_LINK}">Subchapter 1.1</a>
                                        </td>
                                        <td class="ilHFormItemCmd" colspan="3"><a class="il_ContainerItemCommand2" name="editTitle" data-whatever="inp61" data-tree="exp_node_0_4" style="white-space: nowrap;">Edit Title</a>

                                        </td>
                                    </tr>

                                </tbody>
                                <tbody>
                                    <!-- Dropdown-Row -->
                                    <tr name="row6">
                                        <td colspan="7"></td>
                                        <td colspan="12">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_54fc" onclick="doMouseClick(event, '54fc');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_54fc">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Page -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Page
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t2fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Paste Pages from Clipboard
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>

                                    <!-- Page Row -->
                                    <tr name="row6">
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormCheckbox">

                                            <input type="checkbox" id="inp5" name="id[]" value="55" onchange="changeParentBoxes(this);" data-parents="inp1,inp4" data-row="row6" data-tree="exp_node_0_5">

                                        </td>
                                        <td class="ilHFormIcon">

                                            <a name="node_55"><img class="il_img_pg" id="il_img_55" title="./templates/default/images/icon_pg.svg" alt="./templates/default/images/icon_pg.svg" src="./templates/default/images/icon_pg.svg"></a>

                                        </td>
                                        <td class="ilHFormInput" colspan="12">
                                            <a id="inp56" class="form-control" name="title[55]" style="width:100%" href="{PAGE3_LINK}">Page 3</a>
                                        </td>
                                        <td class="ilHFormItemCmd" colspan="3"><a class="il_ContainerItemCommand2" name="editTitle" data-whatever="inp56" data-tree="exp_node_0_5" style="white-space: nowrap;">Edit Title</a>

                                        </td>
                                    </tr>

                                    <!-- Dropdown-Row -->
                                    <tr name="row7">
                                        <td colspan="7"></td>
                                        <td colspan="12">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_55" onclick="doMouseClick(event, '55');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_55">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Page -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Page
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_55t2_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Paste Pages from Clipboard
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>

                                    <!-- Page Row -->
                                    <tr name="row7">
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormCheckbox">

                                            <input type="checkbox" id="inp6" name="id[]" value="60" onchange="changeParentBoxes(this);" data-parents="inp1,inp4" data-row="row7" data-tree="exp_node_0_6">

                                        </td>
                                        <td class="ilHFormIcon">

                                            <a name="node_60"><img class="il_img_pg" id="il_img_60" title="./templates/default/images/icon_pg.svg" alt="./templates/default/images/icon_pg.svg" src="./templates/default/images/icon_pg.svg"></a>

                                        </td>
                                        <td class="ilHFormInput" colspan="12">
                                            <a id="inp62" class="form-control" name="title[60]" style="width:100%" href="{PAGE4_LINK}">Page 4</a>
                                        </td>
                                        <td class="ilHFormItemCmd" colspan="3"><a class="il_ContainerItemCommand2" name="editTitle" data-whatever="inp62" data-tree="exp_node_0_6" style="white-space: nowrap;">Edit Title</a>

                                        </td>
                                    </tr>

                                    <!-- Dropdown-Row -->
                                    <tr>
                                        <td colspan="7"></td>
                                        <td colspan="12">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_60" onclick="doMouseClick(event, '60');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_60">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Page -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Page
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t2_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Paste Pages from Clipboard
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>

                                    <!-- Dropdown-Row -->
                                    <tr name="row5">
                                        <td colspan="5"></td>
                                        <td colspan="14">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_61" onclick="doMouseClick(event, '61');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_61">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Sub-Chapter -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_61t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Sub-chapter
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <!-- Dropdown-Row -->
                                    <tr name="row1">
                                        <td colspan="3"></td>
                                        <td colspan="16">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_59" onclick="doMouseClick(event, '59');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_59">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Chapter -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_59t3_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Chapter
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                    <!-- Chapter Row -->
                                    <tr name="row2">
                                        <td class="ilHFormExpIcon">

                                        </td>
                                        <td class="ilHFormCheckbox">

                                            <input type="checkbox" name="id[]" id="inp7" value="54" onchange="changeChildBoxes(this);" data-params="inp8" data-row="row2" data-tree="exp_node_0_7">

                                        </td>
                                        <td class="ilHFormIcon">

                                            <a name="node_54"><img class="il_img_st" id="il_img_54" title="./templates/default/images/icon_st.svg" alt="./templates/default/images/icon_st.svg" src="./templates/default/images/icon_st.svg"></a>

                                        </td>
                                        <td class="ilHFormInput" colspan="16">
                                            <a id="inp58" class="form-control" name="title[54]" style="width:100%" href="{CHAP2_LINK}">Chapter 2</a>
                                        </td>
                                        <td class="ilHFormItemCmd" colspan="3"><a class="il_ContainerItemCommand2" name="editTitle" data-whatever="inp58" data-tree="exp_node_0_7" style="white-space: nowrap;">Edit Title</a>

                                        </td>
                                    </tr>

                                </tbody>
                                <tbody>
                                    <!-- Dropdown-Row -->
                                    <tr name="row8">
                                        <td colspan="5"></td>
                                        <td colspan="14">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_54fc" onclick="doMouseClick(event, '54fc');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_54fc">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Page -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t1fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Page
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_54t2fc_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Paste Pages from Clipboard
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>

                                    <!-- Page Row -->
                                    <tr name="row8">
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormExpIcon"></td>
                                        <td class="ilHFormCheckbox">

                                            <input type="checkbox" name="id[]" id="inp8" value="59" onchange="changeParentBoxes(this);" data-parents="inp7" data-row="row8" data-tree="exp_node_0_8">

                                        </td>
                                        <td class="ilHFormIcon">

                                            <a name="node_59"><img class="il_img_pg" id="il_img_59" title="./templates/default/images/icon_pg.svg" alt="./templates/default/images/icon_pg.svg" src="./templates/default/images/icon_pg.svg"></a>

                                        </td>
                                        <td class="ilHFormInput" colspan="14">
                                            <a id="inp59" class="form-control" name="title[59]" style="width:100%" href="{PAGE5_LINK}">Page 5</a>
                                        </td>
                                        <td class="ilHFormItemCmd" colspan="3"><a class="il_ContainerItemCommand2" name="editTitle" data-whatever="inp59" data-tree="exp_node_0_8" style="white-space: nowrap;">Edit Title</a>

                                        </td>
                                    </tr>

                                    <!-- Dropdown-Row -->
                                    <tr>
                                        <td colspan="5"></td>
                                        <td colspan="14">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_60" onclick="doMouseClick(event, '60');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_60">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Page -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t1_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Page
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_60t2_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Paste Pages from Clipboard
                                                            </td>
                                                        </tr>

                                                        <!-- Insert Chapter -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_59t3_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Sub-chapter
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>

                                    <!-- Dropdown-Row -->
                                    <tr name="row2">
                                        <td colspan="3"></td>
                                        <td colspan="16">
                                            <div class="il_droparea  ilHFormDropArea" id="droparea_59" onclick="doMouseClick(event, '59');" onmouseover="doMouseOver(this.id, '');" onmouseout="doMouseOut(this.id, '');"><span class="glyphicon glyphicon-plus"></span></div>
                                        </td>
                                    </tr>
                                    <!-- Dropdown-Menu -->
                                    <tr>
                                        <td>
                                            <div style="position:absolute;left:0;top:0;visibility:hidden;" id="dropareamenu_59">
                                                <table class="il_editmenu ilOverlay" cellspacing="0" cellpadding="3">

                                                    <tbody>
                                                        <!-- Insert Chapter -->
                                                        <tr>
                                                            <td class="il_editmenu" style="white-space:nowrap;" id="hftd_59t3_0" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">
                                                                Insert Chapter
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="ilHFormFooter">

                            <img border="0" alt="-commands-" src="./templates/default/images/arrow_downright.svg">

                            <input class="btn btn-default" type="submit" name="cmd[delete]" value="Delete" onclick="deleteContentModal();">

                            <input class="btn btn-default" type="submit" name="cmd[cutItems]" value="Cut">

                            <input class="btn btn-default" type="submit" name="cmd[copyItems]" value="Copy">


                        </div>




                        <script language="JavaScript" type="text/javascript">
                            var as_subitem = Object();

                            as_subitem['1fc' + '_' + 'grp_st'] = "1";

                            as_subitem['54' + '_' + 'grp_st'] = "0";

                            as_subitem['58' + '_' + 'grp_st'] = "0";

                            as_subitem['1fc' + '_' + 'grp_st'] = "1";

                            as_subitem['54' + '_' + 'grp_st'] = "0";

                            as_subitem['58' + '_' + 'grp_st'] = "0";

                            as_subitem['' + '_' + ''] = "0";



                            d = new ilDragTarget("droparea_" + "1fc", "grp_st");

                            d = new ilDragTarget("droparea_" + "54", "grp_st");

                            d = new ilDragTarget("droparea_" + "58", "grp_st");


                            d = new ilDragContent("il_img_" + "1", "grp_du");

                            d = new ilDragContent("il_img_" + "54", "grp_st");

                            d = new ilDragContent("il_img_" + "58", "grp_st");
                        </script>


                        <!-- This one is called from other frames/contents -->

                        <div id="ilsaving" class="ilHighlighted" style="display:none;">Saving...</div>

                    </div>
                </form>
                <div class="il_ContainerItemCommands2">
                    <a class="il_ContainerItemCommand2" href=""></a>
                </div>



            </div>




        </div>
    </div>
</body>