<div class="container-fluid" id="ilContentContainer">
    <div class="row">

        <div id="il_center_col" class="col-sm-12">



            <form id="form_" role="form" class="form-horizontal preventDoubleSubmission" action="ilias.php?ref_id=75&amp;cmd=post&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI&amp;rtoken=9d06514d3f5d7ab934914e13bc1e855d" method="post">

                <div class="form-horizontal">
                    <!-- todo: HIDE_LABELS_STYLE -->


                    <!-- Please note the usage of datatable attribute which is non-standard
                        but ensures that JAWS treats this table as a layout table -->
                    <!-- removed a width="" -->





                    <div class="ilFormHeader">
                        <h3 class="ilHeader"><a name="il_form_top"></a>Style</h3>
                        <div class="ilFormCmds">


                        </div>
                        <div class="ilHeaderDesc"></div>
                    </div>






                    <div class="form-group" id="il_prop_cont_style_id">
                        <label for="style_id" class="col-sm-3 control-label">Current Style</label>
                        <div class="col-sm-9">










                            <select class="form-control" id="style_id" name="style_id">

                                <option value="0" selected="selected">Default</option>

                            </select>










                        </div>
                    </div>
                    <!-- end of ilFormRow -->
                    <!-- <script type="text/javascript">
                    $(function() {
                        il.Form.initItem('', );
                    });
                    </script> -->






                    <div class="ilFormFooter clearfix">
                        <div class="col-sm-6 ilFormRequired">


                            &nbsp;</div>
                        <div class="col-sm-6 ilFormCmds">

                            <input class="btn btn-default btn-sm" type="submit" name="cmd[saveStyleSettings]" value="Save">

                            <input class="btn btn-default btn-sm" type="submit" name="cmd[createStyle]" value="Create Individual Style">

                        </div>
                    </div>
                    <!-- end of ilFormRow -->

                </div>
            </form>




        </div>




    </div>
</div>