<script>
    function init() {
        var btn_group = document.getElementById('tttt').querySelectorAll(".btn-group");
        if (btn_group.length != null) {
            $('#switchMode').prependTo(btn_group[0]);
        }
    }
    
    window.onload = init();
</script>

<div class="container-fluid" id="ilContentContainer">
    <div class="row">

        <div id="il_center_col" class="col-sm-12">

            <form name="formInfoScreen" method="post" action="">

                <div class="ilInfoScreenSec form-horizontal" id="infoscreen_section_1">
                    <h3 class="ilHeader">Description</h3>


                    <div class="form-group">
                        <div class="il_InfoScreenPropertyValue col-xs-offset-3 col-xs-9">{DESC}</div>
                    </div>

                </div>

                <div class="ilInfoScreenSec form-horizontal" id="infoscreen_section_2">
                    <h3 class="ilHeader">General</h3>

                    <div class="form-group">
                        <div class="il_InfoScreenProperty control-label col-xs-3">Language</div>
                        <div class="il_InfoScreenPropertyValue col-xs-9">
                            English

                        </div>
                    </div>


                </div>

                <div class="ilInfoScreenSec form-horizontal" id="infoscreen_section_3">
                    <h3 class="ilHeader">Tags</h3>

                    <div class="form-group">
                        <div class="il_InfoScreenProperty control-label col-xs-3">My Tags</div>
                        <div class="il_InfoScreenPropertyValue col-xs-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="il_tags" value="">
                                <span class="input-group-btn">
	<input class="btn btn-default" type="submit" name="cmd[saveTags]" value="Save">
	</span>
                            </div>
                            <div class="help-block il_Description">Comma Separated</div>


                        </div>
                    </div>


                </div>

                <div class="ilInfoScreenSec form-horizontal" id="infoscreen_section_4">
                    <h3 class="ilHeader">Additional Information</h3>

                    <div class="form-group">
                        <div class="il_InfoScreenProperty control-label col-xs-3">Permanent Link</div>
                        <div class="il_InfoScreenPropertyValue col-xs-9">
                            <label for="current_perma_link">
                                <a href="" onclick="with(document.getElementById('current_perma_link')){focus();select();} return false;" class="permalink_label"></a>
                            </label>&nbsp;
                            <input id="current_perma_link" type="text" value="http://..." readonly="readonly" onclick="this.focus();this.select();return false;">

                            <div class="btn-group">
                                <!-- Important: The next a-tag had a this.blur(); in the onclick event before. Please do not add it again, see bug #8723 -->
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" data-container="body" id="ilAdvSelListAnchorText_socialbm_actions">
                                    <span></span> <span class="caret"></span>
                                </button>


                                <ul class="dropdown-menu pull-right" role="menu" id="ilAdvSelListTable_socialbm_actions">



                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="./templates/default/images/socialbookmarks/icon_bm_15x15.gif" alt="ILIAS Bookmarks"> ILIAS Bookmarks</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/delicious.gif" alt=""> Del.icio.us</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/digg.gif" alt=""> Digg</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/facebook.png" alt=""> Facebook</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/folkd.gif" alt=""> Folkd</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/google.gif" alt=""> Google</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/linkarena.gif" alt=""> Linkarena</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/live.png" alt=""> Live</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/wong.jpg" alt=""> Mister Wong</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/myspace.gif" alt=""> MySpace</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/newsvine.gif" alt=""> Newsvine</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/reddit.gif" alt=""> Reddit</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/studiVZ.gif" alt=""> studiVZ meinVZ schülerVZ</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/stumbleupon.jpg" alt=""> StumbleUpon</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/yahoo.gif" alt=""> Yahoo</span></a>
                                    </li>

                                    <li onclick="">
                                        <a id="socialbm_actions_" href="" target="_top"><span><img src="templates/default/images/socialbookmarks/yigg.png" alt=""> Yigg</span></a>
                                    </li>



                                </ul>

                            </div>
                            <script type="text/javascript">
                                il.AdvancedSelectionList.init['socialbm_actions'] = function () {
                                    il.AdvancedSelectionList.add('socialbm_actions', {
                                        "trigger_event": "click",
                                        "auto_hide": false,
                                        "anchor_id": "ilAdvSelListAnchorElement_socialbm_actions",
                                        "asynch": false,
                                        "asynch_url": false
                                    });

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'ILIAS Bookmarks');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Del.icio.us');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Digg');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Facebook');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Folkd');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Google');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Linkarena');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Live');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Mister Wong');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'MySpace');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Newsvine');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Reddit');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'studiVZ meinVZ schülerVZ');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'StumbleUpon');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Yahoo');

                                    il.AdvancedSelectionList.addItem('socialbm_actions', '', '', 'Yigg');


                                }
                                il.AdvancedSelectionList.init['socialbm_actions']();
                            </script>
                            &nbsp;


                        </div>
                    </div>

                    <div class="form-group">
                        <div class="il_InfoScreenProperty control-label col-xs-3">Created on</div>
                        <div class="il_InfoScreenPropertyValue col-xs-9">
                            15. Apr 2016, 16:11

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="il_InfoScreenProperty control-label col-xs-3">Owner</div>
                        <div class="il_InfoScreenPropertyValue col-xs-9">
                            root

                        </div>
                    </div>


                </div>

                <div class="ilInfoScreenSec form-horizontal" id="infoscreen_section_">
                    <h3 class="ilHeader"></h3>


                </div>



            </form>



            <br>
            <a name="notes_top"></a>




            <div class="ilNotesHeader">


                <h3 class="ilHeader"></h3>
            </div>
            <div class="ilNotes" id="ilNotes">
                <form id="ilNoteForm" action="" name="cmd" method="post">
                    <div class="il_ContainerItemCommands2" style="text-align:right;">





                        <!-- <a class="il_ContainerItemCommand2" href="ilias.php?ref_id=75&amp;note_type=2&amp;cmd=addNoteForm&amp;cmdClass=ilnotegui&amp;cmdNode=jp:7l:1u&amp;baseClass=ilLMPresentationGUI#note_edit">Add Comment</a> -->

                    </div>


                    <div class="small light">No comment has been posted yet.</div>

                    <table class="fullwidth_invisible" width="100%" style="clear:both;">


                        <tbody>
                            <tr>
                                <td valign="top" colspan="2">
                                    <a name="note_edit"></a>
                                    <div class="ilNoteInput">
                                        <textarea class="form-control" id="note" wrap="virtual" name="note"></textarea>
                                        <br>
                                        <input class="btn btn-default" type="submit" value="Add Comment" name="cmd[addNote]">
                                        <input type="hidden" value="" name="note_id">
                                    </div>

                                </td>
                            </tr>






                        </tbody>
                    </table>
                </form>
            </div>



            <div class="il_ContainerItemCommands" style="margin:10px;">


                <a class="il_ContainerItemCommand2" href="">Deactivate Public Comments</a>
            </div>
        </div>
    </div>
</div>