<script>
    function init() {
        var btn_group = document.getElementById('tttt').querySelectorAll(".btn-group");
        if (btn_group.length != null) {
            $('#switchMode').prependTo(btn_group[0]);
        }
    }

    window.onload = init;
</script>

<div class="container-fluid" id="ilContentContainer">
    <div class="row">

        <div id="il_center_col" class="col-sm-12">




            <form action="" name="table_874482d195ba0ece8029039342bb36d7" method="post" target="" class="form-inline preventDoubleSubmission" role="form">



                <div class="ilTableHeaderTitle">
                    <div class="ilFloatRight">



                    </div>
                    <h3 class="ilHeader ilTableHeaderTitle"><a class="ilAccAnchor" name="il_table_top" id="il_table_top">History</a></h3>
                </div>



                <div class="ilTableNav yui-skin-sam">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" datatable="0">
                        <tbody>
                            <tr>
                                <td class="ilWhiteSpaceNowrap ilLeft ilValignMiddle">

                                    <span class="ilTableFootLight">(1 - 13 of 13)</span>&nbsp;&nbsp;&nbsp;




                                </td>
                                <td class="ilWhiteSpaceNowrap ilRight">








                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ilTableOuter">


                    <div class="table-responsive">
                        <table class="table table-striped" datatable="1">


                            <colgroup>

                                <col width="25%">

                                    <col width="25%">

                                        <col width="50%">

                            </colgroup>

                            <thead>

                                <tr>


                                    <th width="25%"><span id="thc__1">User</span></th>




                                    <th width="25%"><span id="thc__2">Date</span></th>




                                    <th width="50%"><span id="thc__3">Action</span></th>






                                </tr>

                            </thead>
                            <tbody>
                                <tr class="tblrow2">
                                    <td class="std" valign="top">
                                        [root]
                                    </td>
                                    <td class="std" valign="top">
                                        15. Apr 2016, 16:13
                                    </td>
                                    <td class="std" valign="top">


                                        <img src="./templates/default/images/icon_pg.svg" border="0" alt="">


                                        <a href="">Page 1</a>: Page created.
                                        <br>

                                    </td>
                                </tr>
                                <tr class="tblrow1">
                                    <td class="std" valign="top">
                                        [root]
                                    </td>
                                    <td class="std" valign="top">
                                        15. Apr 2016, 16:13
                                    </td>
                                    <td class="std" valign="top">


                                        <img src="./templates/default/images/icon_pg.svg" border="0" alt="">


                                        <a href="">Page 2</a>: Page created.
                                        <br>

                                    </td>
                                </tr>
                                <tr class="tblrow2">
                                    <td class="std" valign="top">
                                        [root]
                                    </td>
                                    <td class="std" valign="top">
                                        15. Apr 2016, 16:12
                                    </td>
                                    <td class="std" valign="top">


                                        <img src="./templates/default/images/icon_pg.svg" border="0" alt="">


                                        <a href="">Page 1</a>: Page created.
                                        <br>

                                    </td>
                                </tr>
                                <tr class="tblrow1">
                                    <td class="std" valign="top">
                                        [root]
                                    </td>
                                    <td class="std" valign="top">
                                        15. Apr 2016, 16:12
                                    </td>
                                    <td class="std" valign="top">


                                        <img src="./templates/default/images/icon_st.svg" border="0" alt="">


                                        <a href="">Subchapter 1.1</a>: Chapter created.
                                        <br>

                                    </td>
                                </tr>
                                <tr class="tblrow2">
                                    <td class="std" valign="top">
                                        [root]
                                    </td>
                                    <td class="std" valign="top">
                                        15. Apr 2016, 16:12
                                    </td>
                                    <td class="std" valign="top">


                                        <img src="./templates/default/images/icon_pg.svg" border="0" alt="">


                                        <a href="">Page 2</a>: Page created.
                                        <br>

                                    </td>
                                </tr>
                                <tr class="tblrow1">
                                    <td class="std" valign="top">
                                        [root]
                                    </td>
                                    <td class="std" valign="top">
                                        15. Apr 2016, 16:11
                                    </td>
                                    <td class="std" valign="top">


                                        <img src="./templates/default/images/icon_st.svg" border="0" alt="">


                                        <a href="">Chapter 2</a>: Chapter created.
                                        <br>

                                    </td>
                                </tr>
                                <tr class="tblrow2">
                                    <td class="std" valign="top">
                                        [root]
                                    </td>
                                    <td class="std" valign="top">
                                        15. Apr 2016, 16:11
                                    </td>
                                    <td class="std" valign="top">


                                        <img src="./templates/default/images/icon_st.svg" border="0" alt="">


                                        <a href="">Chapter 1</a>: Chapter created.
                                        <br>

                                    </td>
                                </tr>
                                <tr class="tblrow1">
                                    <td class="std" valign="top">
                                        [root]
                                    </td>
                                    <td class="std" valign="top">
                                        15. Apr 2016, 16:11
                                    </td>
                                    <td class="std" valign="top">


                                        <img src="./templates/default/images/icon_pg.svg" border="0" alt="">


                                        <a href="{PAGE1_LINK}">Page 1</a>: Page created.
                                        <br>

                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>




                </div>

                <div class="ilTableNav">
                    <div class="ilLeft" style="margin-top:5px;">

                        <span class="ilTableFootLight">(1 - 13 of 13)</span>&nbsp;&nbsp;&nbsp;




                    </div>
                </div>
                <div style="clear:both;"></div>




            </form>





        </div>




    </div>
</div>