<script>
    function init() {
        var btn_group = document.getElementById('tttt').querySelectorAll(".btn-group");
        if (btn_group.length != null) {
            $('#switchMode').prependTo(btn_group[0]);
        }
    }
    
    window.onload = init();
</script>

<div class="container-fluid" id="ilContentContainer">
    <div class="row">

        <div id="il_center_col" class="col-sm-12">




            <form action="" name="table_32a9ee349511fe23f2e7d79492394e02" method="post" target="" class="form-inline preventDoubleSubmission" role="form">





                <div class="ilTableNav yui-skin-sam">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" datatable="0">
                        <tbody>
                            <tr>
                                <td class="ilWhiteSpaceNowrap ilLeft ilValignMiddle">

                                    <span class="ilTableFootLight">(1 - 1 of 1)</span>&nbsp;&nbsp;&nbsp;




                                </td>
                                <td class="ilWhiteSpaceNowrap ilRight">




                                    <div class="btn-group">
                                        <!-- Important: The next a-tag had a this.blur(); in the onclick event before. Please do not add it again, see bug #8723 -->
                                        <button type="button" class="btn btn-sm btn-link dropdown-toggle" data-toggle="dropdown" data-container="body" id="ilAdvSelListAnchorText_sellst_rows_lm_qst283">
                                            <span>Rows</span> <span class="caret"></span>
                                        </button>


                                        <ul class="dropdown-menu pull-right" role="menu" id="ilAdvSelListTable_sellst_rows_lm_qst283">



                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=0&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_0" href=""><span>Default (50)</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=5&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_5" href=""><span>5</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=10&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_10" href=""><span>10</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=15&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_15" href=""><span>15</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=20&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_20" href=""><span>20</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=30&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_30" href=""><span>30</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=40&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_40" href=""><span>40</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=50&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_50" href=""><span>50</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=100&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_100" href=""><span>100</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=200&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_200" href=""><span>200</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=400&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_400" href=""><span>400</span></a>
                                            </li>

                                            <li onclick="return il.AdvancedSelectionList.openTarget('ilias.php?ref_id=75&amp;lm_qst283_trows=800&amp;cmd=listQuestions&amp;cmdClass=ilobjlearningmodulegui&amp;cmdNode=jm:kb&amp;baseClass=ilLMEditorGUI','');">
                                                <a id="sellst_rows_lm_qst283_800" href=""><span>800</span></a>
                                            </li>



                                        </ul>

                                    </div>
                                    <script type="text/javascript">
                                        il.AdvancedSelectionList.init['sellst_rows_lm_qst283'] = function () {
                                            il.AdvancedSelectionList.add('sellst_rows_lm_qst283', {
                                                "trigger_event": "click",
                                                "auto_hide": false,
                                                "anchor_id": "ilAdvSelListAnchorElement_sellst_rows_lm_qst283",
                                                "asynch": false,
                                                "asynch_url": false
                                            });

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '0', 'Default (50)');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '5', '5');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '10', '10');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '15', '15');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '20', '20');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '30', '30');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '40', '40');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '50', '50');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '100', '100');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '200', '200');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '400', '400');

                                            il.AdvancedSelectionList.addItem('sellst_rows_lm_qst283', '', '800', '800');


                                        }
                                        il.AdvancedSelectionList.init['sellst_rows_lm_qst283']();
                                    </script>





                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ilTableOuter">


                    <div class="table-responsive">
                        <table class="table table-striped" id="lm_qst283" datatable="1">


                            <thead>

                                <tr>


                                    <th><span id="thc_lm_qst283_1">Page</span></th>




                                    <th><span id="thc_lm_qst283_2">Question</span></th>




                                    <th><span id="thc_lm_qst283_3">Users Answered</span></th>




                                    <th><span id="thc_lm_qst283_4">First Try Correct</span></th>




                                    <th><span id="thc_lm_qst283_5">Second</span></th>




                                    <th><span id="thc_lm_qst283_6">Third or More</span></th>




                                    <th><span id="thc_lm_qst283_7">Never</span></th>






                                </tr>

                            </thead>
                            <tbody>

                                <tr class="tblrow1">
                                    <td class="std small">
                                        Page 1
                                    </td>
                                    <td class="std small">
                                        Sort the list historical
                                    </td>
                                    <td class="std small">
                                        0
                                    </td>
                                    <td class="std small ilWhiteSpaceNowrap">
                                        0
                                    </td>
                                    <td class="std small ilWhiteSpaceNowrap">
                                        0
                                    </td>
                                    <td class="std small ilWhiteSpaceNowrap">

                                    </td>
                                    <td class="std small ilWhiteSpaceNowrap">
                                        0
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>




                </div>

                <div class="ilTableNav">
                    <div class="ilLeft" style="margin-top:5px;">

                        <span class="ilTableFootLight">(1 - 1 of 1)</span>&nbsp;&nbsp;&nbsp;




                    </div>
                </div>
                <div style="clear:both;"></div>




            </form>





        </div>




    </div>
</div>