<div class="container-fluid" id="ilContentContainer">
    <div class="row">

        <div id="il_center_col" class="col-sm-12">

            <!-- todo: proper id support, spacer?, separator?, emph classes -->


            <h3 class="ilAccHeadingHidden">Functions</h3>
            <nav class="ilToolbar navbar navbar-default yamm " role="navigation" id="2">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">


                        <ul class="ilToolbarStickyItems nav navbar-nav">

                            <li class="ilToolbarStickyItem">
                                <div class="navbar-form"><a class="btn btn-default" href="">&nbsp;Add page&nbsp;</a></div>
                            </li>

                        </ul>

                        <button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target="#tb-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="tb-collapse-2">
                        <ul class="ilToolbarItems nav navbar-nav">

                        </ul>
                    </div>
                </div>
            </nav>



            <form action="" name="table_eddceae69507ba0bd0156c60c84242f7" method="post" target="" class="form-inline preventDoubleSubmission" role="form">



                <div class="ilTableHeaderTitle">
                    <div class="ilFloatRight">



                    </div>
                    <h3 class="ilHeader ilTableHeaderTitle"><a class="ilAccAnchor" name="il_table_top" id="il_table_top">Pages</a></h3>
                </div>



                <div class="ilTableNav yui-skin-sam">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" datatable="0">
                        <tbody>
                            <tr>
                                <td class="ilWhiteSpaceNowrap ilLeft ilValignMiddle">

                                    <span class="ilTableFootLight">(1 - 5 of 5)</span>&nbsp;&nbsp;&nbsp;




                                </td>
                                <td class="ilWhiteSpaceNowrap ilRight">








                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ilTableOuter">

                    <div class="ilTableCommandRowTop form-inline">
                        <div class="ilFloatLeft">

                            <img src="./templates/default/images/arrow_upright.svg" alt="Action" style="vertical-align:middle;" border="0">



                            <select name="selected_cmd2" class=" form-control " size="0">
                                <option value="activatePages">(De-)Activate</option>
                                <option value="movePage">Move</option>
                                <option value="copyPage">Copy</option>
                                <option value="delete">Delete</option>
                                <option value="selectHeader">Select As Header</option>
                                <option value="selectFooter">Select As Footer</option>
                            </select>


                            <input class="btn btn-default" type="submit" name="select_cmd2" value="Execute">


                        </div>

                        <div style="clear:both;"></div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped" datatable="1">


                            <thead>

                                <tr>


                                    <th width="1%"><span id="thc__1"></span></th>




                                    <th width="1%"><span id="thc__2">Type</span></th>




                                    <th><span id="thc__3">Title</span></th>




                                    <th colspan="2"><span id="thc__4">Usage</span></th>






                                </tr>

                            </thead>
                            <tbody>

                                <tr class="tblrow1">
                                    <td class="std">
                                        <input type="checkbox" name="id[]" value="55">
                                    </td>
                                    <td class="std">
                                        <a href="ilias.php?ref_id=75&amp;_table_nav=:asc:0&amp;obj_id=55&amp;backcmd=pages&amp;cmd=edit&amp;cmdClass=illmpageobjectgui&amp;cmdNode=jm:kb:jy&amp;baseClass=ilLMEditorGUI"><img src="./templates/default/images/icon_pg.svg" alt="Page" title="Page" border="0"></a>
                                    </td>
                                    <td class="std">
                                        <a href="{PAGE1_CHAP1_LINK}">Page 1</a>
                                    </td>
                                    <td class="std">
                                        Chapter 1
                                    </td>
                                    <td class="std">

                                    </td>
                                </tr>
                                <tr class="tblrow2">
                                    <td class="std">
                                        <input type="checkbox" name="id[]" value="62">
                                    </td>
                                    <td class="std">
                                        <a href="ilias.php?ref_id=75&amp;_table_nav=:asc:0&amp;obj_id=62&amp;backcmd=pages&amp;cmd=edit&amp;cmdClass=illmpageobjectgui&amp;cmdNode=jm:kb:jy&amp;baseClass=ilLMEditorGUI"><img src="./templates/default/images/icon_pg.svg" alt="Page" title="Page" border="0"></a>
                                    </td>
                                    <td class="std">
                                        <a href="{PAGE1_SUBCHAP1.1_LINK}">Page 1</a>
                                    </td>
                                    <td class="std">
                                        Chapter 1 &gt; Subchapter 1.1
                                    </td>
                                    <td class="std">

                                    </td>
                                </tr>
                                <tr class="tblrow1">
                                    <td class="std">
                                        <input type="checkbox" name="id[]" value="66">
                                    </td>
                                    <td class="std">
                                        <a href="ilias.php?ref_id=75&amp;_table_nav=:asc:0&amp;obj_id=66&amp;backcmd=pages&amp;cmd=edit&amp;cmdClass=illmpageobjectgui&amp;cmdNode=jm:kb:jy&amp;baseClass=ilLMEditorGUI"><img src="./templates/default/images/icon_pg.svg" alt="Page" title="Page" border="0"></a>
                                    </td>
                                    <td class="std">
                                        <a href="{PAGE1_CHAP2_LINK}">Page 1</a>
                                    </td>
                                    <td class="std">
                                        Chapter 2
                                    </td>
                                    <td class="std">

                                    </td>
                                </tr>
                                <tr class="tblrow2">
                                    <td class="std">
                                        <input type="checkbox" name="id[]" value="60">
                                    </td>
                                    <td class="std">
                                        <a href="ilias.php?ref_id=75&amp;_table_nav=:asc:0&amp;obj_id=60&amp;backcmd=pages&amp;cmd=edit&amp;cmdClass=illmpageobjectgui&amp;cmdNode=jm:kb:jy&amp;baseClass=ilLMEditorGUI"><img src="./templates/default/images/icon_pg.svg" alt="Page" title="Page" border="0"></a>
                                    </td>
                                    <td class="std">
                                        <a href="{PAGE2_CHAP1_LINK}">Page 2</a>
                                    </td>
                                    <td class="std">
                                        Chapter 1
                                    </td>
                                    <td class="std">

                                    </td>
                                </tr>
                                <tr class="tblrow1">
                                    <td class="std">
                                        <input type="checkbox" name="id[]" value="63">
                                    </td>
                                    <td class="std">
                                        <a href="ilias.php?ref_id=75&amp;_table_nav=:asc:0&amp;obj_id=63&amp;backcmd=pages&amp;cmd=edit&amp;cmdClass=illmpageobjectgui&amp;cmdNode=jm:kb:jy&amp;baseClass=ilLMEditorGUI"><img src="./templates/default/images/icon_pg.svg" alt="Page" title="Page" border="0"></a>
                                    </td>
                                    <td class="std">
                                        <a href="{PAGE2_SUBCHAP1.1_LINK}">Page 2</a>
                                    </td>
                                    <td class="std">
                                        Chapter 1 &gt; Subchapter 1.1
                                    </td>
                                    <td class="std">

                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>



                    <div class="ilTableSelectAll">
                        <input type="checkbox" name="chb_select_all_eddceae69507ba0bd0156c60c84242f7" id="chb_select_all_eddceae69507ba0bd0156c60c84242f7" value="1" onclick="il.Util.setChecked('table_eddceae69507ba0bd0156c60c84242f7', 'id[]', document.forms['table_eddceae69507ba0bd0156c60c84242f7'].elements['chb_select_all_eddceae69507ba0bd0156c60c84242f7'].checked);">
                        <label for="chb_select_all_eddceae69507ba0bd0156c60c84242f7">Select All</label>
                    </div>


                    <div class="ilTableCommandRow form-inline">
                        <div class="ilFloatLeft">

                            <img src="./templates/default/images/arrow_downright.svg" alt="Action" style="vertical-align:middle;" border="0">



                            <select name="selected_cmd" class=" form-control " size="0">
                                <option value="activatePages">(De-)Activate</option>
                                <option value="movePage">Move</option>
                                <option value="copyPage">Copy</option>
                                <option value="delete">Delete</option>
                                <option value="selectHeader">Select As Header</option>
                                <option value="selectFooter">Select As Footer</option>
                            </select>


                            <input class="btn btn-default" type="submit" name="select_cmd" value="Execute">


                        </div>

                        <div style="clear:both;"></div>
                    </div>

                </div>

                <div class="ilTableNav">
                    <div class="ilLeft" style="margin-top:5px;">

                        <span class="ilTableFootLight">(1 - 5 of 5)</span>&nbsp;&nbsp;&nbsp;




                    </div>
                </div>
                <div style="clear:both;"></div>




            </form>





        </div>




    </div>
</div>