<head>
    <link rel="stylesheet" type="text/css" href="./Services/COPage/css/syntaxhighlight.css">

    <link rel="stylesheet" type="text/css" href="./Services/Calendar/css/panel_min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="./Services/UIComponent/Tooltip/lib/qtip_2_2_1/jquery.qtip.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="./Services/Accordion/css/accordion.css" media="screen">
    <link rel="stylesheet" type="text/css" href="./Services/Accordion/lib/owl.carousel.2.0.0-beta.2.4/assets/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="./Modules/Scorm2004/templates/default/question_handling.css" media="screen">
    <link rel="stylesheet" type="text/css" href="Modules/TestQuestionPool/templates/default/test_javascript.css" media="screen">
    <link rel="stylesheet" type="text/css" href="./Services/COPage/css/content.css">

    <script type="text/javascript" src="./Services/jQuery/js/maphilight_14_03_20/maphilight.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/COPage/js/ilCOPagePres.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/YUI/js/2_9_0/animation/animation-min.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="Services/Form/js/Form.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/UIComponent/AdvancedSelectionList/js/AdvancedSelectionList.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/YUI/js/2_9_0/dragdrop/dragdrop-min.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/YUI/js/2_9_0/element/element-min.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/YUI/js/2_9_0/container/container-min.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/COPage/js/ilcopagecallback.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="Services/COPage/js/page_editing.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/UIComponent/Modal/js/Modal.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="Services/COPage/tiny/4_2_4/tinymce.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/UIComponent/Tooltip/lib/qtip_2_2_1/jquery.qtip.min.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/UIComponent/Tooltip/js/ilTooltip.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/UIComponent/Explorer/js/ilExplorer.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/Link/js/ilIntLink.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/Accordion/lib/owl.carousel.2.0.0-beta.2.4/owl.carousel.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Modules/Scorm2004/scripts/questions/pure.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Modules/Scorm2004/scripts/questions/question_handling.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="Modules/TestQuestionPool/js/ilMatchingQuestion.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/COPage/js/ilCOPageQuestionHandler.js?vers=5-1-2-2016-01-27"></script>
    <script type="text/javascript" src="./Services/Accordion/js/accordion.js?vers=5-1-2-2016-01-27"></script>

    <!-- Modal Style fix -->
    <style>
        /* scroll fixes */
        
        .modal-open .modal {
            padding-left: 0px !important;
            padding-right: 0px !important;
            overflow-y: scroll;
        }
    </style>

    <script>
        var areaId = "";
        var nextId = "";

        function init() {

            //center modal
            var $clone = $("#myModal").clone().css('display', 'block').appendTo('body');
            var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
            top = top > 0 ? top : 0;
            $clone.remove();
            $("#myModal").find('.modal-content').css("margin-top", top);

            //Adds the correct handling for all "Delete" links with the correct Id
            var x = document.getElementsByName("delete");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].onclick = function () {
                    areaId = $(this).data('thisid');
                    nextId = $(this).data('nextid');
                    $("#myModal").modal("show");
                };
            };

            //removes temporarly the content by clicking OK
            document.getElementById('delete').onclick = function () {
                elementDelete();
            };

            var div_tag = document.createElement('div');
            div_tag.className = 'ilHeadAction';
            div_tag.id = 'il_head_action';
            var inner_div = document.createElement('div');
            inner_div.id = 'tttt';
            inner_div.style = 'white-space: nowrap;';
            var btn_group_div = document.createElement('div');
            btn_group_div.className = 'btn-group';
            $('#switchMode').prependTo(btn_group_div);
            inner_div.appendChild(btn_group_div);
            div_tag.appendChild(inner_div);
            var header = document.getElementsByClassName('media il_HeaderInner');
            if (header.length != null) {
                header[0].appendChild(div_tag);
                $('#il_head_action').prependTo(header[0]);
            };

        }

        window.onload = init;

        function formDelete() {
            var area = document.getElementsByClassName('il_editarea_selected');
            for (j = 0; j < area.length; j++) {
                var selected = area[j].querySelectorAll("a[name=delete]");
                for (i = 0; i < selected.length; i++) {
                    areaId = selected[0].dataset.thisid;
                    nextId = selected[0].dataset.nextid;
                    $("#myModal").modal("show");
                }
            }
        }

        function elementDelete() {
            var area = document.getElementById(areaId);
            area.parentElement.removeChild(area);
            var next = document.getElementById(nextId);
            next.parentElement.removeChild(next);
            areaId = "";
            nextId = "";
        }
    </script>
</head>

<body>

    <!-- Modal for title editing -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                </div>
                <div class="modal-body">
                    Do you really want to delete this item(s)?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="delete" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="ilTabsContentOuter">
        <div class="clearfix"></div>

        <span class="ilAccHidden"><a id="after_sub_tabs" name="after_sub_tabs"></a></span>



        <div>


        </div>

        <div class="container-fluid" id="ilContentContainer">
            <div class="row">

                <div id="il_center_col" class="col-sm-12">




                    <div id="ilPageEditLegend" style="margin-top: 0px;">
                        <div>
                            <div class="il_droparea"><span class="sr-only"></span><span class="glyphicon glyphicon-plus"></span></div>
                            <span class="subtitle">Click on placeholders to add new elements.</span>
                        </div>
                        <div>
                            <div class="ilPageEditLegendElement">&nbsp;</div>
                            <span class="sr-only"></span><span class="glyphicon glyphicon-share-alt"></span>
                            <div class="il_droparea"><span class="sr-only"></span><span class="glyphicon glyphicon-plus"></span></div>
                            <span class="subtitle">Drag and drop content elements on placeholders to move elements.</span>
                        </div>
                        <div>
                            <div class="ilPageEditLegendElement">&nbsp;</div>
                            <span class="subtitle">Double-click on content elements to select them for (de-)activation or deletion.</span>
                        </div>
                    </div>

                    <div class="small" style="margin-bottom: 5px; width: 100%; text-align: right; margin-top: 10px;"><span style="padding-right:20px;">
<div class="btn-group">
<!-- Important: The next a-tag had a this.blur(); in the onclick event before. Please do not add it again, see bug #8723 -->
<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" data-container="body" id="ilAdvSelListAnchorText_copage_act">
<span>Actions</span> <span class="caret"></span>
                        </button>


                        <ul class="dropdown-menu pull-right" role="menu" id="ilAdvSelListTable_copage_act">



                            <li onclick="">
                                <a id="copage_act_" href=""><span>Deactivate Page</span></a>
                            </li>

                            <li onclick="">
                                <a id="copage_act_" href=""><span>Initial Extra Content</span></a>
                            </li>



                        </ul>

                    </div>
                    <script type="text/javascript">
                        il.AdvancedSelectionList.init['copage_act'] = function () {
                            il.AdvancedSelectionList.add('copage_act', {
                                "trigger_event": "click",
                                "auto_hide": false,
                                "anchor_id": "ilAdvSelListAnchorElement_copage_act",
                                "asynch": false,
                                "asynch_url": false
                            });

                            il.AdvancedSelectionList.addItem('copage_act', '', '', 'Deactivate Page');

                            il.AdvancedSelectionList.addItem('copage_act', '', '', 'Initial Extra Content');


                        }
                        il.AdvancedSelectionList.init['copage_act']();
                    </script>
                    </span>
                    <div class="btn-group">
                        <!-- Important: The next a-tag had a this.blur(); in the onclick event before. Please do not add it again, see bug #8723 -->
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" data-container="body" id="ilAdvSelListAnchorText_copage_ed_mode">
                            <span>Edit Mode</span> <span class="caret"></span>
                        </button>


                        <ul class="dropdown-menu pull-right" role="menu" id="ilAdvSelListTable_copage_ed_mode">



                            <li onclick="">
                                <a id="copage_ed_mode_" href=""><span>Deactivate Media</span></a>
                            </li>

                            <li onclick="">
                                <a id="copage_ed_mode_" href=""><span>Deactivate HTML Rendering</span></a>
                            </li>

                            <li onclick="">
                                <a id="copage_ed_mode_" href=""><span>Activate Form Mode</span></a>
                            </li>



                        </ul>

                    </div>
                    <script type="text/javascript">
                        il.AdvancedSelectionList.init['copage_ed_mode'] = function () {
                            il.AdvancedSelectionList.add('copage_ed_mode', {
                                "trigger_event": "click",
                                "auto_hide": false,
                                "anchor_id": "ilAdvSelListAnchorElement_copage_ed_mode",
                                "asynch": false,
                                "asynch_url": false
                            });

                            il.AdvancedSelectionList.addItem('copage_ed_mode', '', '', 'Deactivate Media');

                            il.AdvancedSelectionList.addItem('copage_ed_mode', '', '', 'Deactivate HTML Rendering');

                            il.AdvancedSelectionList.addItem('copage_ed_mode', '', '', 'Activate Form Mode');


                        }
                        il.AdvancedSelectionList.init['copage_ed_mode']();
                    </script>
                </div>
                <div id="il_EditPage">
                    <form action="" name="objectItems" method="post" onsubmit="return false;">
                        <div class="ilc_page_cont_PageContainer" id="ilEditorTD">
                            <div class="ilc_page_Page">
                                <script>
                                    var ScormApi = null;
                                    var questions = new Array();
                                </script>
                                <script>
                                    questions[16] = {
                                        "id": 16,
                                        "type": "assOrderingHorizontal",
                                        "title": "Historical Sorting",
                                        "question": "Sort the list historical",
                                        "nr_of_tries": 1,
                                        "shuffle": true,
                                        "points": true,
                                        "textsize": 100,
                                        "feedback": {
                                            "onenotcorrect": "",
                                            "allcorrect": ""
                                        },
                                        "answers": [{
                                            "answertext": "Nero",
                                            "order": 1
                                    }, {
                                            "answertext": "Sokrates",
                                            "order": 2
                                    }, {
                                            "answertext": "Napoleon",
                                            "order": 3
                                    }, {
                                            "answertext": "Karl der Grosse",
                                            "order": 4
                                    }, {
                                            "answertext": "Louis XIV",
                                            "order": 5
                                    }, {
                                            "answertext": "Lenin",
                                            "order": 6
                                    }],
                                        "mobs": []
                                    };
                                </script>
                                <h1 class="ilc_page_title_PageTitle">Chapter 1 (1/2)</h1>
                                <div class="il_droparea" id="TARGETpg:" onmouseover="doMouseOver(this.id, '', null, null);" onmouseout="doMouseOut(this.id, '', null, null);" onclick="doMouseClick(event, 'TARGET' + 'pg' + ':' + '', null, null);"><span class="glyphicon glyphicon-plus"><!--Dummy--></span></div>
                                <div class="ilOverlay il_editmenu ilNoDisplay" id="dropareamenu_pg">
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Paste</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Text</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Image/Media</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Question</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert File List</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Data Table</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Advanced Table</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Advanced List</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Section</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Accordion</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Interactive Image</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Code</a>
                                    <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Paste From Clipboard</a>
                                </div>
                                <div>
                                    <div class="il_editarea" onmouseover="doMouseOver(this.id, 'il_editarea_active', 'Paragraph','Standard');" onmouseout="doMouseOut(this.id, 'il_editarea', 'Paragraph','Standard');" onmousedown="doMouseDown(this.id);" onmouseup="doMouseUp(this.id);" onclick="doMouseClick(event,this.id,'Paragraph','Standard');" ondblclick="doMouseDblClick(event,this.id,'Paragraph');" id="CONTENT1:2fe32fd56bf27afa2ed51cca3e971818">
                                        <div class="ilEditLabel" style="display: none;" id="TCONTENT1:2fe32fd56bf27afa2ed51cca3e971818">Text
                                            <!--Dummy-->
                                        </div>
                                        <div style="position:static;" class="ilc_Paragraph ilc_text_block_Standard">
                                            <a name="jump1">
                                                <!--Break-->
                                            </a>
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                            <br>
                                            <div class="ilOverlay il_editmenu ilNoDisplay" id="contextmenu_1">
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Edit</a>
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="" data-thisid="CONTENT1:2fe32fd56bf27afa2ed51cca3e971818" data-nextid="TARGET1:2fe32fd56bf27afa2ed51cca3e971818" name="delete">Delete</a>
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Copy</a>
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Cut</a>
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">(De-)Activate</a>
                                            </div>
                                            <!--Break-->
                                        </div>
                                    </div>
                                    <div class="il_droparea" onmouseover="doMouseOver(this.id, '', null, null);" onmouseout="doMouseOut(this.id, '', null, null);" onclick="doMouseClick(event, 'TARGET' + '1' + ':' + '2fe32fd56bf27afa2ed51cca3e971818', null, null);" id="TARGET1:2fe32fd56bf27afa2ed51cca3e971818"><span class="glyphicon glyphicon-plus"></span></div>
                                    <div class="ilOverlay il_editmenu ilNoDisplay" id="dropareamenu_1">
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Paste</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Text</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Image/Media</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Question</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert File List</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Data Table</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Advanced Table</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Advanced List</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Section</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Accordion</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Interactive Image</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Insert Code</a>
                                        <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Paste From Clipboard</a>
                                    </div>
                                </div>
                                <div>
                                    <div class="il_editarea" onmouseover="doMouseOver(this.id, 'il_editarea_active', 'Paragraph','Code');" onmouseout="doMouseOut(this.id, 'il_editarea', 'Paragraph','Code');" onmousedown="doMouseDown(this.id);" onmouseup="doMouseUp(this.id);" onclick="doMouseClick(event,this.id,'Paragraph','Code');" ondblclick="doMouseDblClick(event,this.id,'Paragraph');" id="CONTENT2:319a8feaadd4a6ac141e9c7d6970f40c">
                                        <div class="ilEditLabel" style="display: none;" id="TCONTENT2:319a8feaadd4a6ac141e9c7d6970f40c">Code
                                            <!--Dummy-->
                                        </div>
                                        <a name="jump2">
                                            <!--Break-->
                                        </a>
                                        <div xmlns:xhtml="http://www.w3.org/1999/xhtml" class="ilc_Code">
                                            <table class="ilc_Sourcecode" cellpadding="0" cellspacing="0" border="0">
                                                <tbody>
                                                    <tr valign="top">
                                                        <td nowrap="nowrap" class="ilc_LineNumbers"><pre class="ilc_Code"><span class="ilc_LineNumber">1</span><br><span class="ilc_LineNumber">2</span><br><span class="ilc_LineNumber">3</span><br><span class="ilc_LineNumber">4</span><br><span class="ilc_LineNumber">5</span><br><span class="ilc_LineNumber">6</span><br><span class="ilc_LineNumber">7</span><br><span class="ilc_LineNumber">8</span><br><span class="ilc_LineNumber">9</span><br><span class="ilc_LineNumber">10</span></pre></td>
                                                        <td class="ilc_Sourcecode"><pre class="ilc_Code">&lt;!DOCTYPE html&gt;<br>&lt;html lang="<span class="ilc_CodeQuote">en</span>"&gt;<br>&lt;head&gt;<br>&lt;meta charset="<span class="ilc_CodeQuote">UTF-8</span>"&gt;<br>&lt;title&gt;Title&lt;/title&gt;<br>&lt;/head&gt;<br>&lt;body&gt;<br> <br>&lt;/body&gt;<br>&lt;/html&gt;</pre></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <div class="ilOverlay il_editmenu ilNoDisplay" id="contextmenu_2">
                                            <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Edit</a>
                                            <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="" data-thisid="CONTENT2:319a8feaadd4a6ac141e9c7d6970f40c" data-nextid="TARGET2:319a8feaadd4a6ac141e9c7d6970f40c" name="delete">Delete</a>
                                            <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Copy</a>
                                            <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Cut</a>
                                            <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">(De-)Activate</a>
                                            <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Split to New Page</a>
                                            <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Split to Next Page</a>
                                        </div>
                                    </div>
                                    <div class="il_droparea" onmouseover="doMouseOver(this.id, '', null, null);" onmouseout="doMouseOut(this.id, '', null, null);" onclick="doMouseClick(event, 'TARGET' + '1' + ':' + '319a8feaadd4a6ac141e9c7d6970f40c', null, null);" id="TARGET2:319a8feaadd4a6ac141e9c7d6970f40c"><span class="glyphicon glyphicon-plus"></span></div>
                                </div>
                                <div>
                                    <div class="il_editarea" onmouseover="doMouseOver(this.id, 'il_editarea_active', 'Question','');" onmouseout="doMouseOut(this.id, 'il_editarea', 'Question','');" onmousedown="doMouseDown(this.id);" onmouseup="doMouseUp(this.id);" onclick="doMouseClick(event,this.id,'Question','');" ondblclick="doMouseDblClick(event,this.id,'Question');" id="CONTENT3:14a077ac24e6e3e448b6fbb8fb7a77db">
                                        <div class="ilEditLabel" style="display:none;" id="TCONTENT3:14a077ac24e6e3e448b6fbb8fb7a77db">Question
                                            <!--Dummy-->
                                        </div>
                                        <div xmlns:xhtml="http://www.w3.org/1999/xhtml" class="ilc_question_Standard">
                                            <a name="jump3">
                                                <!--Break-->
                                            </a>
                                            <h4><u>Historical Question</u></h4>
                                            <div id="container16" class="ilc_question_OrderingQuestion">
                                                <div class="ilc_qtitle_Title question id" id="16">Sort the list historical</div>
                                                <div style="margin-bottom:10px">
                                                    <ul id="order16" class="ilc_qordul_OrderListHorizontal ui-sortable" style="font-size: 100%;">
                                                        <li class="answers ilc_qordli_OrderListItemHorizontal order ui-sortable-handle" id="4">
                                                            <div class="ilc_qanswer_Answer answertext">Karl der Grosse</div>
                                                        </li>
                                                        <li class="answers ilc_qordli_OrderListItemHorizontal order ui-sortable-handle" id="3">
                                                            <div class="ilc_qanswer_Answer answertext">Napoleon</div>
                                                        </li>
                                                        <li class="answers ilc_qordli_OrderListItemHorizontal order ui-sortable-handle" id="1">
                                                            <div class="ilc_qanswer_Answer answertext">Nero</div>
                                                        </li>
                                                        <li class="answers ilc_qordli_OrderListItemHorizontal order ui-sortable-handle" id="2">
                                                            <div class="ilc_qanswer_Answer answertext">Sokrates</div>
                                                        </li>
                                                        <li class="answers ilc_qordli_OrderListItemHorizontal order ui-sortable-handle" id="6">
                                                            <div class="ilc_qanswer_Answer answertext">Lenin</div>
                                                        </li>
                                                        <li class="answers ilc_qordli_OrderListItemHorizontal order ui-sortable-handle" id="5">
                                                            <div class="ilc_qanswer_Answer answertext">Louis XIV</div>
                                                        </li>
                                                    </ul>
                                                    <div style="clear:both;"></div>
                                                </div>
                                                <div id="feedback16" style="display:none"></div>
                                                <input type="button" class="ilc_qsubmit_Submit" id="button16" style="display:none" onclick="ilias.questions.checkAnswers(16)" value="Submit">
                                            </div>

                                            <br>
                                            <div class="ilOverlay il_editmenu ilNoDisplay" id="contextmenu_3">
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Edit</a>
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="" data-thisid="CONTENT3:14a077ac24e6e3e448b6fbb8fb7a77db" data-nextid="TARGET3:14a077ac24e6e3e448b6fbb8fb7a77db" name="delete">Delete</a>
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Copy</a>
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Cut</a>
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">(De-)Activate</a>
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Split to New Page</a>
                                                <a href="#" class="ilGroupedListLE" onmouseover="M_in(this);" onmouseout="M_out(this);" onclick="">Split to Next Page</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="il_droparea" onmouseover="doMouseOver(this.id, '', null, null);" onmouseout="doMouseOut(this.id, '', null, null);" onclick="doMouseClick(event, 'TARGET' + '1' + ':' + '14a077ac24e6e3e448b6fbb8fb7a77db', null, null);" id="TARGET3:14a077ac24e6e3e448b6fbb8fb7a77db"><span class="glyphicon glyphicon-plus"></span></div>
                                </div>
                                <div xmlns:xhtml="http://www.w3.org/1999/xhtml" style="clear:both;">
                                    <!--Break-->
                                </div>
                            </div>
                        </div>
                        <table class="fullwidth" id="ilPageEditActionBar">

                            <tbody>
                                <tr>
                                    <td class="submit">
                                        <img border="0" src="./templates/default/images/arrow_downright.svg" style="vertical-align:middle;">
                                        <input class="btn btn-default" onclick="formDelete();" type="submit" value="Delete" name="cmd[deleteSelected]">
                                        <input class="btn btn-default" onclick="" type="submit" value="Copy" name="cmd[copySelected]">
                                        <input class="btn btn-default" onclick="" type="submit" value="Cut" name="cmd[cutSelected]">
                                        <input class="btn btn-default" onclick="" type="submit" value="(De-)Activate Elements" name="cmd[activateSelected]">
                                        <input class="btn btn-default" onclick="" type="submit" value="Assign Characteristic" name="cmd[assignCharacteristicForm]">
                                        <input class="btn btn-default" onclick="" type="submit" value="Select All">
                                    </td>
                                </tr>




                            </tbody>
                        </table>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
</body>